<!-- Start -->
<div class="star">
    <div class="star-list">
        <div class="star-flex star-empty">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
            <img src="./assets/images/star-opa.svg" alt="" class="icon">
        </div>
        <div class="star-flex star-filter" style="width: 80%;">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
            <img src="./assets/images/mona.png" alt="" class="icon">
        </div>
    </div>
</div>
<!-- End start -->

<!-- Burger btn -->
<div class="burger">
    <div class="hamburger" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</div>
<!--End  Burger btn -->

<!-- Header search -->
<div class="header-search">
    <img src="" alt="" class="header-search-icon">
</div>
<div class="search_mona">
    <form method="get" id="searchform" class="searchform" action="">
        <div class="search-wrap">
            <input type="search" class="search-input" placeholder="Tìm kiếm . . .">
            <button type="submit" class="search-btn">
                <img src="" alt="" class="icon">
            </button>
        </div>
    </form>
</div>
<!-- End header Search -->

<!-- Header nav -->
<div class="header-nav">
    <ul class="header-nav-list">
        <li class="header-nav-item active">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
        <li class="header-nav-item">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
        <li class="header-nav-item">
            <a href="" class="header-nav-link">
                Item
            </a>
        </li>
    </ul>
</div>
<!--End Header nav -->


<!-- Side -->
<div class="side-fixed">
    <div class="side-fixed-wrap">
        <!-- Content here -->
    </div>
    <div class="side-close">
        <i class="fas fa-times close icon"></i>
    </div>
</div>
<div class="side-open">
    <div class="side-open-wrap">
        <i class="fas fa-angle-left icon"></i>
    </div>
</div>
<div class="side-overlay"></div>
<!-- End Side -->

<!-- Select custom -->
<div class="sl-cus">
    <div class="sl-head">
        <input type="text" class="select-input" hidden>
        <p class="sl-main"></p>
    </div>
    <ul class="sl-list">
        <li class="sl-item active" data-name="Option 1" data-slug="value 1">
        </li>
        <li class="sl-item" data-name="Option 1" data-slug="value 2">
        </li>
    </ul>
</div>
<!-- End Select custom -->

<!-- Header User -->
<div class="user">
    <div class="user-ava">
        <img src="" alt="">
    </div>
    <p class="user-name">
        John Blue
    </p>
    <div class="user-menu">
        <a href="" class="link">my profile</a>
        <a href="" class="link">Customer support</a>
        <a href="" class="link">Shop Experiences</a>
        <a href="" class="link">Order history</a>
    </div>
</div>
<!-- End header User -->

<!-- Pagi -->
<ul class="page-numbers">
    <li>
        <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left icon"></i></a>
    </li>
    <li>
        <span class="page-numbers current">1</span>
    </li>
    <li>
        <a href="" class="page-numbers">2</a>
    </li>
    <li>
        <a href="" class="page-numbers">3</a>
    </li>
    <li>
        <a href="" class="page-numbers">4</a>
    </li>
    <li>
        <a href="" class="next page-numbers"><i class="fa fa-angle-right icon"></i></a>
    </li>
</ul>
<!-- End pagi -->

<!-- Recheck -->
<div class="recheck-block">
    <div class="recheck-item">
        <input type="checkbox" name="" id="" class="recheck-input" hidden>
        <div class="recheck-dot"></div>
        <p class="recheck-text">
            Check me ........
        </p>
    </div>
</div>
<!-- End Recheck -->

<!-- Mxh -->
<div class="mxh">
    <div class="mxh-list">
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
        <a href="" class="mxh-link">
            <img src="" alt="" class="icon">
        </a>
    </div>
</div>
<!-- End mxh -->

<!-- Count -->
<div class="count">
    <div class="count-btn count-minus">
        <i class="fas fa-minus icon"></i>
    </div>
    <input type="text" value="1" max="12" min="0" class="count-input" hidden>
    <p class="count-number"></p>
    <div class="count-btn count-plus">
        <i class="fas fa-plus icon"></i>
    </div>
</div>
<!-- End cout -->

<!-- Cart mini -->
<div class="header-cart">
    <img src="./assets/images/header-cart-icon.svg" alt="" class="header-cart-icon">
    <div class="cmini">
        <div class="cmini-wrap">
            <div class="cmini-list">
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger Roger Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
                <a href="" class="cmini-item">
                    <div class="cmini-img">
                        <img src="./assets/images/cmini-img.png" alt="">
                        <div class="cmini-delete">
                            <i class="fas fa-times icon"></i>
                        </div>
                    </div>
                    <div class="cmini-content">
                        <h3 class="cart-name">Roger</h3>
                        <p class="cart-price">180,000,000 đ</p>
                        <div class="cmini-color" style="background-color: #D0CBCD;"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="cmini-button">
            <a href="" class="button button-nor button-full">
                <p class="button-text">
                    Vào trang giỏ hàng
                </p>
            </a>
        </div>
    </div>
</div>
<!-- End cart mini -->



<div class="popup open">
    <div class="popup-overlay">
    </div>
    <div class="popup-main">
        <div class="popup-main-wrapper">
            <div class="popup-over">
                <div class="popup-wrapper">
                    <!-- Content hear -->
                    <div class="contact-form-lf-wrap">
                        <div class="contact-form-list d-wrap">
                            <div class="contact-form-item d-2 d-item">
                                <div class="contact-form-input">
                                    <input type="text">
                                     <span class="contact-form-label">
                                        Email <strong>*</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-form-item d-2 d-item">
                                <div class="contact-form-input">
                                    <input type="text">
                                     <span class="contact-form-label">
                                        Full name <strong>*</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-form-item d-2 d-item">
                                <div class="contact-form-input">
                                    <input type="text">
                                     <span class="contact-form-label">
                                        Company <strong>*</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-form-item d-2 d-item">
                                <div class="contact-form-input">
                                    <input type="text">
                                     <span class="contact-form-label">
                                        Job Title <strong>*</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-form-item phone d-item ">
                                <div class="contact-form-input">
                                    <input type="text">
                                     <span class="contact-form-label">
                                        Phone number <strong>*</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="contact-form-item sl d-2 d-item">
                                <select class="contact-form-item-sl" name="state">
                                    <option value="AL">Which product(s) are you interested in? * </option>
                                    <option value="WY">Wyoming</option>
                                  </select>
                            </div>
                            <div class="contact-form-item d-2 d-item">
                                <div class="contact-form-input">
                                   <textarea name="" id="" rows="6" placeholder="Your Message or Specific Request"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="contact-form-ck">
                            <div class="contact-form-ck-item">
                                <input id="item1" type="checkbox">
                                <label for="item1"></label>
                               <p> Receive VinAI Monthly Newsletter </p>
                            </div>
                            <div class="contact-form-ck-item">
                                <input id="item2" type="checkbox">
                                <label for="item2"></label>
                               <p> By submitting this form, you agree to our <strong>Privacy Policy</strong> and <strong>Terms of Service</strong> </p>
                            </div>
                        </div>

                        <a href="" class="btn">
                            <span class="btn-ic">
                                <img src="./assets/images/send.svg" alt="">
                            </span>
                            <span class="btn-text">
                                Submit
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-close">
            <i class="fas fa-times icon"></i>
        </div>
    </div>
</div>

<div class="header-burger">
    <div class="hamburger" id="hamburger">
        <label for="menu_checkbox" class="hamburger-label">
            <div class="hamburger-text"></div>
        </label>
    </div>
</div>
<div class="dateTime" data-type="single">
    <div class="dateTimeItem">
        <input type="text" class="dateTimeInput">
        <div class="dateTimeText">
            Date travel
        </div>
    </div>
    <img src="./assets/images/icon-calenda.svg" alt="">
</div>