<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body class="about">
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="" class="header-logo">
                    <img src="./assets/images/LogoVinAi.svg" alt="">
                </a>

                <ul class="menu-list">
                    <li class="menu-item actived">
                        <a href="" class="menu-link">
                            Home
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            About Us
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Product
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Solution
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Research
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            News
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Career
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Contact
                        </a>
                    </li>
                </ul>


                <div class="header-wrap-box">
                    <div class="header-language btn-lang ">
                        <div class="header-language-item">
                            <div class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </div>
                            <div class="header-language-item-ic">
                                <i class="fal fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="header-language-child header-lang">
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>

                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
                        </div>
                    </div>
                    <div class="header-navbar btn-navbar">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="menu-modal"></div>

    <div class="menu-mb">
        <div class="menu-mb-wrap">
            <ul class="menu-mb-list">
                <li class="menu-item actived">
                    <a href="" class="menu-link">
                        Home
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        About Us
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Product
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Solution
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Research
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        News
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Career
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="social-mb-list">
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main pt">
        <div class="about-video">
            <div class="about-video-tt">
                <div class="about-video-text">
                    About
                </div>
                <div class="about-video-text">
                    Us
                </div>

            </div>
            <div class="box-how">
                <div class="container">
                    <div class="box-how-wrap">
                        <div class="box-how-video">
                            <video muted class="video-play-inner">
                                <source src="./assets/videos/dubrovnik_-_12866 (1080p).mp4" type="video/mp4">
                            </video>

                            <div class="box-how-content">
                                <div class="box-how-content-logo">
                                    <img src="./assets/images/logoVideo.svg" alt="">
                                </div>

                                <div class="box-how-content-text">
                                    VinAI GuardPro
                                </div>
                            </div>


                            <div class="btn-play btn-play-vd">
                                <div class="scrolld-btn-inner emblemJS">-Seemore-Seemore-Seemore</div>

                                <div class="btn-play-box">
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-gsap">
                        <div class="container">
                            <div class="said-main">
                                <div class="said-main-phay">
                                    <img src="./assets/images/phayDouble.svg" alt="">
                                </div>
                                <div class="said-main-wrap">
                                    <div class="said-main-text " id="target-said">
                                        GuardPro is an AI-powered solution that revolutionizes building management by
                                        turning individual IP cameras into a comprehensive security system. GuardPro
                                        enhances security, compliance, and convenience with 24/7 surveillance and
                                        real-time
                                        notifications. It supports large-scale systems with thousands of camera streams
                                        while remaining very cost effective.
                                    </div>
                                </div>
                            </div>

                            <div class="said-author">
                                Dr. Hung Bui, CEO VinAI
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


        <div class="box-sl-cow d-wrap custom">
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
        </div>


        <div class="box-vm">
            <div class="about-vision">
                <div class="container">
                    <div class="about-vision-wrap">
                        <div class="title-main">
                            Vision
                        </div>


                    </div>

                    <div class="box-gsap">
                        <div class="container">
                            <div class="said-main">
                                <div class="said-main-phay">
                                    <img src="./assets/images/phayDouble.svg" alt="">
                                </div>
                                <div class="said-main-wrap">
                                    <div class="said-main-text" id="target-said">
                                        Our vision is to pioneer a new era of innovation by harnessing cutting-edge AI
                                        research. We strive to revolutionize the world by crafting groundbreaking
                                        solutions that democratize AI technology, empowering individuals from all walks
                                        of life to effortlessly embrace its limitless potential.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="about-mission">
                <div class="title-main">
                    Mission
                </div>
                <div class="box-canvas">

                    <canvas class="canvasLineWave"></canvas>
                    <div class="box-canvas-wrap">
                        <div class="container">
                            <div class="box-canvas-list d-wrap free-slide">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide d-3 d-item">
                                            <div class="box-canvas-item">
                                                <div class="box-canvas-item-wrap">
                                                    <div class="box-canvas-item-bg"></div>
                                                    <div class="box-canvas-text">
                                                        <strong>Enhanced</strong> security and safety management
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide d-3 d-item">
                                            <div class="box-canvas-item">
                                                <div class="box-canvas-item-wrap">
                                                    <div class="box-canvas-item-bg"></div>
                                                    <div class="box-canvas-text">
                                                        <strong>Simplified</strong> installation and operation
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide d-3 d-item">
                                            <div class="box-canvas-item">
                                                <div class="box-canvas-item-wrap">
                                                    <div class="box-canvas-item-bg"></div>
                                                    <div class="box-canvas-text">
                                                        <strong>Improved</strong> <br> cost-efficiency <br> <strong>(up
                                                            to
                                                            30%)</strong>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          

        </div>

        <div class="about-pila">
            <div class="container">
                <div class="title-main">
                    3 Pillars of VinAI's success
                </div>

                <div class="about-pila-list">
                    <div class="about-pila-item">
                        <div class="about-pila-item-tt">
                            Research
                        </div>
                        <div class="about-pila-item-font">
                            <div class="about-pila-item-font-lf">
                                01
                            </div>
                            <div class="about-pila-item-font-rt">
                                Research
                            </div>
                        </div>

                        <div class="about-pila-item-back">
                            <div class="about-pila-item-back-lf">
                                <div class="about-pila-item-back-lf-title">
                                    Research
                                </div>
                                <div class="about-pila-item-back-lf-num">
                                    01
                                </div>

                            </div>


                            <div class="about-pila-item-back-rt">
                                <div class="about-pila-item-back-rt-text">
                                    The product group's mission is to improve people's lives by transforming state-of-the-art Al research into impactful solutions and services. Our applied and commercialization teams aim to foster new Al applications, especially those that help enable more natural human interaction with machines through voice gestures, behaviors, biometrics or from smart sensors and devices. We are well positioned to be at the forefront of the digitization of customer experience via Al techniques and systems. Due to our unique location, we are also naturally drawn toward important problems in developing countries that might otherwise be overlooked in the research community.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-pila-item">
                        <div class="about-pila-item-tt">
                            Product
                        </div>
                        <div class="about-pila-item-font">
                            <div class="about-pila-item-font-lf">
                                02
                            </div>
                            <div class="about-pila-item-font-rt">
                                Product
                            </div>
                        </div>

                        <div class="about-pila-item-back">
                            <div class="about-pila-item-back-lf">
                                <div class="about-pila-item-back-lf-title">
                                   Product
                                </div>
                                <div class="about-pila-item-back-lf-num">
                                    02
                                </div>

                            </div>


                            <div class="about-pila-item-back-rt">
                                <div class="about-pila-item-back-rt-text">
                                    The product group's mission is to improve people's lives by transforming state-of-the-art Al research into impactful solutions and services. Our applied and commercialization teams aim to foster new Al applications, especially those that help enable more natural human interaction with machines through voice gestures, behaviors, biometrics or from smart sensors and devices. We are well positioned to be at the forefront of the digitization of customer experience via Al techniques and systems. Due to our unique location, we are also naturally drawn toward important problems in developing countries that might otherwise be overlooked in the research community.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-pila-item">
                        <div class="about-pila-item-tt">
                            Program
                        </div>
                        <div class="about-pila-item-font">
                            <div class="about-pila-item-font-lf">
                                03
                            </div>
                            <div class="about-pila-item-font-rt">
                                AI Residency Program
                            </div>
                        </div>

                        <div class="about-pila-item-back">
                            <div class="about-pila-item-back-lf">
                                <div class="about-pila-item-back-lf-title">
                                    AI Residency Program
                                </div>
                                <div class="about-pila-item-back-lf-num">
                                    03
                                </div>

                            </div>


                            <div class="about-pila-item-back-rt">
                                <div class="about-pila-item-back-rt-text">
                                    The product group's mission is to improve people's lives by transforming state-of-the-art Al research into impactful solutions and services. Our applied and commercialization teams aim to foster new Al applications, especially those that help enable more natural human interaction with machines through voice gestures, behaviors, biometrics or from smart sensors and devices. We are well positioned to be at the forefront of the digitization of customer experience via Al techniques and systems.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-mile">
            
        </div>

        <div class="box-sl-cow d-wrap">
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
            <div class="box-sl-cow-item d-item">
                <div class="box-sl-cow-img">
                    <img src="./assets/images/cow.png" alt="">
                </div>
            </div>
        </div>


    </main>


    <footer class="footer">
        <div class="footer-bg">
            <img src="./assets/images/bgFooter.png" alt="">
        </div>
        <div class="container">
            <div class="footer-wrap d-wrap">
                <div class="footer-lf d-2 d-item">
                    <div class="footer-lf-content">
                        <a href="" class="footer-logo">
                            <img src="./assets/images/logoFooter.svg" alt="">
                        </a>

                        <div class="footer-note">
                            We solve real-world problems by transforming state-of-the-art AI research into impactful
                            products and services.
                        </div>

                        <div class="footer-social">
                            <div class="footer-social-title">
                                Social Media
                            </div>
                            <ul class="footer-social-list">
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-rt d-2 d-item">
                    <div class="footer-rt-content">
                        <div class="footer-rt-top">
                            <div class="footer-title">
                                INTELLIGENCE FOR TOMORROW, TODAY
                            </div>
                            <div class="btn popup-open">
                                <span class="btn-text">
                                    Request demo
                                </span>
                            </div>
                        </div>
                        <div class="footer-rt-bottom d-wrap">
                            <div class="footer-rt-bottom-lf d-item">
                                <div class="footer-title">
                                    About
                                </div>
                                <ul class="footer-menu-list">
                                    <li class="menu-item actived">
                                        <a href="" class="menu-link">
                                            Home
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Research
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            News
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Products
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Career
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Solutions
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-rt-bottom-rt d-item">
                                <div class="footer-title">
                                    Contact Info
                                </div>
                                <ul class="footer-info-list">
                                    <li class="footer-info-item">
                                        <div class="footer-info-ic">
                                            <img src="./assets/images/email 1.svg" alt="">
                                        </div>
                                        <div href="" class="footer-info-box">
                                            <a href="" class="footer-info-link">
                                                business@vinai.io
                                            </a>
                                            <a href="" class="footer-info-link">
                                                job@vinai.io
                                            </a>
                                        </div>
                                    </li>

                                    <li class="footer-info-item">
                                        <div class="footer-info-ic">
                                            <img src="./assets/images/email 1.svg" alt="">
                                        </div>
                                        <div href="" class="footer-info-box">
                                            <a href="" class="footer-info-link">
                                                Floor 11, Technopark Tower, Vinhomes Ocean Park, Gia Lam District, Hanoi
                                                City, Vietnam
                                            </a>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-mona">
                <img src="./assets/images/mona.png" alt="">
            </div>
        </div>
    </footer>

    <div class="popup">
        <div class="popup-overlay">
        </div>
        <div class="popup-main">
            <div class="popup-main-wrapper">
                <div class="popup-over">
                    <div class="popup-wrapper">
                        <!-- Content hear -->
                        <div class="popup-title">
                            Together, Let's Create
                            Intelligence For Tomorrow, Today
                        </div>
                        <div class="contact-form-lf-wrap">
                            <div class="contact-form-list d-wrap">
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Email <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Full name <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Company <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Job Title <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item phone d-item ">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Phone number <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item sl d-2 d-item">
                                    <select class="contact-form-item-sl" name="state">
                                        <option value="AL">Which product(s) are you interested in? * </option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <textarea name="" id="" rows="6"
                                            placeholder="Your Message or Specific Request"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-form-ck">
                                <div class="contact-form-ck-item">
                                    <input id="item1" type="checkbox">
                                    <label for="item1"></label>
                                    <p> Receive VinAI Monthly Newsletter </p>
                                </div>
                                <div class="contact-form-ck-item">
                                    <input id="item2" type="checkbox">
                                    <label for="item2"></label>
                                    <p> By submitting this form, you agree to our <strong>Privacy Policy</strong> and
                                        <strong>Terms of Service</strong>
                                    </p>
                                </div>
                            </div>

                            <a href="" class="btn">
                                <span class="btn-ic">
                                    <img src="./assets/images/send.svg" alt="">
                                </span>
                                <span class="btn-text">
                                    Submit
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-close">
                <i class="fas fa-times icon"></i>
            </div>
        </div>
    </div>


    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/splitting/splitting.min.js "></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/scrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>