<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body class="solution-3">
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="" class="header-logo">
                    <img src="./assets/images/LogoVinAi.svg" alt="">
                </a>

                <ul class="menu-list">
                    <li class="menu-item actived">
                        <a href="" class="menu-link">
                            Home
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            About Us
                        </a>
                    </li>

                    <li class="menu-item dr">
                        <a href="" class="menu-link">
                            Product

                            <!-- <span class="menu-ic">
                                <i class="fas fa-sort-down"></i>
                            </span> -->
                        </a>
                       

                        <!-- <ul class="mega-menu">
                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    item-1
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    item-2
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="" class="menu-link">
                                    item-3
                                </a>
                            </li>
                        </ul> -->
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Solution
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Research
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            News
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Career
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Contact
                        </a>
                    </li>
                </ul>


                <div class="header-wrap-box">
                    <div class="header-language btn-lang ">
                        <div class="header-language-item">
                            <div class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </div>
                            <div class="header-language-item-ic">
                                <i class="fal fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="header-language-child header-lang">
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>

                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
                        </div>
                    </div>
                    <div class="header-navbar btn-navbar">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="menu-modal"></div>

    <div class="menu-mb">
        <div class="menu-mb-wrap">
            <ul class="menu-mb-list">
                <li class="menu-item actived">
                    <a href="" class="menu-link">
                        Home
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        About Us
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Product
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Solution
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Research
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        News
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Career
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="social-mb-list">
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main pt">
        <div class="box-title">
            <div class="container">
                <div class="box-title-wrap">
                    <div class="box-title-content">
                        <div class="title-main">
                            Revitalizing the Retail Industry
                        </div>

                        <a href="" class="btn cl-2">
                            <span class="btn-text">
                                Request demo
                            </span demon>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <div class="box-gsap">
            <div class="container">
                <div class="said-main">
                    <div class="said-main-phay">
                        <img src="./assets/images/phayDouble.svg" alt="">
                    </div>
                    <div class="said-main-wrap">
                        <div class="said-main-text " id="target-said">
                            VinAI ecosystem helps retailers and shopping mall managers enhance security and customer
                            experience, leveraging customer insights for actionable marketing and business strategies
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-canvas">
            <canvas class="canvasLineWave"></canvas>
            <div class="box-canvas-wrap">
                <div class="container">
                    <div class="box-canvas-list d-wrap free-slide">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide d-3 d-item">
                                    <div class="box-canvas-item">
                                        <div class="box-canvas-item-wrap">
                                            <div class="box-canvas-item-bg"></div>
                                            <div class="box-canvas-text">
                                                <strong>Enhanced</strong> security and safety management
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                                <div class="swiper-slide d-3 d-item">
                                    <div class="box-canvas-item">
                                        <div class="box-canvas-item-wrap">
                                            <div class="box-canvas-item-bg"></div>
                                            <div class="box-canvas-text">
                                                <strong>Simplified</strong> installation and operation
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide d-3 d-item">
                                    <div class="box-canvas-item">
                                        <div class="box-canvas-item-wrap">
                                            <div class="box-canvas-item-bg"></div>
                                            <div class="box-canvas-text">
                                                <strong>Improved</strong> <br> cost-efficiency <br> <strong>(up to 30%)</strong>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="customer-journey">
            <div class="title-main">
                Customer Journey
            </div>
            <div class="customer-journey-bg">
                <img src="./assets/images/duong.png" alt="">
            </div>

            <div class="customer-journey-list">
                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            01
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        <div class="customer-journey-item-rt-ic">
                            <img src="./assets/images/laco.svg" alt="">
                        </div>
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Research
                            </div>
                            <div class="customer-journey-item-rt-text">
                                (You are here)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            02
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Lead Submission
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            03
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Demo, Consideration and Negotiation
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            04
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Purchase Decision
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            05
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Execution 
                                and Operation
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="customer-journey-item">
                    <div class="customer-journey-item-lf">
                        <div class="customer-journey-item-lf-num">
                            06
                        </div>
                        <div class="customer-journey-item-lf-line"></div>
                    </div>

                    <div class="customer-journey-item-rt">
                        
                        <div class="customer-journey-item-rt-box">
                            <div class="customer-journey-item-rt-title">
                                Post-sales Support and Warranty
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="recom-pro">
            <div class="container">
                <div class="title-main">
                    Recommended Products
                </div>


                <div class="recom-pro-wrap d-wrap">
                    <div class="recom-pro-lf d-item">
                        <div class="recom-pro-title">
                            GuardPro
                        </div>
                        <div class="recom-pro-text">
                            Revolutionizing ordinary IP cameras into a comprehensive AI system, empowering you with enhanced security, compliance, safety, and convenience
                        </div>
                        <div class="btn bor">
                            <span class="btn-text">
                                Learn more
                            </span>
                        </div>
                    </div>

                    <div class="recom-pro-rt d-item">
                        <div class="recom-pro-rt-wrap">
                            <div class="recom-pro-box">
                                <div class="recom-pro-img">
                                    <img src="./assets/images/recom.png" alt="">
                                </div>
                            </div>
                        </div>
                       
                    </div>  
                </div>
            </div>
        </div>

        <!--           
            <div class="container">
                <div class="title-main">
                    Customer Success
                </div>


                <div class="recom-pro-wrap d-wrap">
                    <div class="recom-pro-lf d-item">
                       
                        <div class="recom-pro-text">
                            Vinhomes transforms 9,000 IP cameras into a comprehensive AI security system powered 
                            by GuardPro
                        </div>
                        <div class="btn bor">
                            <span class="btn-text">
                                Learn more
                            </span>
                        </div>
                    </div>

                    <div class="recom-pro-rt d-item">
                        <div class="recom-pro-rt-wrap">
                            <div class="recom-pro-box">
                                <div class="recom-pro-img">
                                    <img src="./assets/images/recom.png" alt="">
                                </div>
                            </div>
                        </div>
                       
                    </div>  
                </div>
            </div>
        </div> -->


        <div class="our-partners free-slide">
            <div class="container">
                <div class="our-partners-top">
                    <div class="title-main">
                        Our Partners & Clients
                    </div>
                    <div class="navi-box">
                        <div class="btn-sl prev">
                            <img src="assets/images/right-arrow 1 (3).svg" alt="">
                        </div>

                        <div class="btn-sl next">
                            <img src="assets/images/right-arrow 1 (2).svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="our-partners-bottom d-wrap">
                    <div class="our-partners-list ">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide d-item">
                                    <div class="our-partners-item">
                                        <div class="our-partners-item-lf">
                                            <div class="our-partners-item-lf-img">
                                                <img src="./assets/images/ceo.png" alt="">
                                            </div>
                                        </div>
                                        <div class="our-partners-item-rt">
                                            <div class="our-partners-item-rt-top">
                                                <div class="our-partners-item-rt-tt">
                                                    <img src="./assets/images/phayDouble.svg" alt="">
                                                </div>
                                                <div class="our-partners-name">
                                                    Nam Thieu
                                                </div>
                                                <div class="our-partners-text">
                                                    "VinAI is one of Qualcomm’s strategic partners who has mastered Qualcomm AI platforms and SDKs at high-level. VinAI’s solution handling thousands of camera streams called GuardPro enables mass AI deployment with reasonable cost on both TCO and Opex. This uniqueness motives many Service Providers to provide rich AI features to their customers, that brings AI technology closer and more affordable to daily life."
                                                </div>
                                            </div>
                                            <div class="our-partners-item-rt-bottom">
                                                <div class="our-partners-item-rt-author">
                                                    General Director, Qualcomm Vietnam & Indochina
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="swiper-slide d-item">
                                    <div class="our-partners-item">
                                        <div class="our-partners-item-lf">
                                            <div class="our-partners-item-lf-img">
                                                <img src="./assets/images/ceo2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="our-partners-item-rt">
                                            <div class="our-partners-item-rt-top">
                                                <div class="our-partners-item-rt-tt">
                                                    <img src="./assets/images/phayDouble.svg" alt="">
                                                </div>
                                                <div class="our-partners-name">
                                                    Rahul Patel
                                                </div>
                                                <div class="our-partners-text">
                                                    “We are working with partners such as VinAI to enable performance breakthroughs leading to practical, efficient, and advanced technologies to enhance security using our edge AI capabilities.”
                                                </div>
                                            </div>
                                            <div class="our-partners-item-rt-bottom">
                                                <div class="our-partners-item-rt-author">
                                                    SVP and GM, Connectivity, Cloud and Networking of Qualcomm Technologies, Inc
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="swiper-slide d-item">
                                    <div class="our-partners-item">
                                        <div class="our-partners-item-lf">
                                            <div class="our-partners-item-lf-img">
                                                <img src="./assets/images/ceo3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="our-partners-item-rt">
                                            <div class="our-partners-item-rt-top">
                                                <div class="our-partners-item-rt-tt">
                                                    <img src="./assets/images/phayDouble.svg" alt="">
                                                </div>
                                                <div class="our-partners-name">
                                                    Nguyen Dang Trung
                                                </div>
                                                <div class="our-partners-text">
                                                    "VinAI's product contributes to the establishment of safety and ensures compliance with general regulations for residents and improves the quality of life for all Vinhomes Smart City residents." 
                                                </div>
                                            </div>
                                            <div class="our-partners-item-rt-bottom">
                                                <div class="our-partners-item-rt-author">
                                                    Director of Product Development Institute, Vinhomes
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="our-partners-brand">
                
             </div>
        </div>



    </main>


    <footer class="footer">
        <div class="footer-bg">
            <img src="./assets/images/bgFooter.png" alt="">
        </div>
        <div class="container">
            <div class="footer-wrap d-wrap">
                <div class="footer-lf d-2 d-item">
                    <div class="footer-lf-content">
                        <a href="" class="footer-logo">
                            <img src="./assets/images/logoFooter.svg" alt="">
                        </a>

                        <div class="footer-note">
                            We solve real-world problems by transforming state-of-the-art AI research into impactful
                            products and services.
                        </div>

                        <div class="footer-social">
                            <div class="footer-social-title">
                                Social Media
                            </div>
                            <ul class="footer-social-list">
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-rt d-2 d-item">
                    <div class="footer-rt-content">
                        <div class="footer-rt-top">
                            <div class="footer-title">
                                INTELLIGENCE FOR TOMORROW, TODAY
                            </div>
                            <div class="btn popup-open">
                                <span class="btn-text">
                                    Request demo
                                </span>
                            </div>
                        </div>
                        <div class="footer-rt-bottom d-wrap">
                            <div class="footer-rt-bottom-lf d-item">
                                <div class="footer-title">
                                    About
                                </div>
                                <ul class="footer-menu-list">
                                    <li class="menu-item actived">
                                        <a href="" class="menu-link">
                                            Home
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Research
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            News
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Products
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Career
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Solutions
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="" class="menu-link">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-rt-bottom-rt d-item">
                                <div class="footer-title">
                                    Contact Info
                                </div>
                                <ul class="footer-info-list">
                                    <li class="footer-info-item">
                                        <div class="footer-info-ic">
                                            <img src="./assets/images/email 1.svg" alt="">
                                        </div>
                                        <div href="" class="footer-info-box">
                                            <a href="" class="footer-info-link">
                                                business@vinai.io
                                            </a>
                                            <a href="" class="footer-info-link">
                                                job@vinai.io
                                            </a>
                                        </div>
                                    </li>

                                    <li class="footer-info-item">
                                        <div class="footer-info-ic">
                                            <img src="./assets/images/email 1.svg" alt="">
                                        </div>
                                        <div href="" class="footer-info-box">
                                            <a href="" class="footer-info-link">
                                                Floor 11, Technopark Tower, Vinhomes Ocean Park, Gia Lam District, Hanoi
                                                City, Vietnam
                                            </a>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-mona">
                <img src="./assets/images/mona.png" alt="">
            </div>
        </div>
    </footer>

    <div class="popup">
        <div class="popup-overlay">
        </div>
        <div class="popup-main">
            <div class="popup-main-wrapper">
                <div class="popup-over">
                    <div class="popup-wrapper">
                        <!-- Content hear -->
                        <div class="popup-title">
                            Together, Let's Create
                            Intelligence For Tomorrow, Today
                        </div>
                        <div class="contact-form-lf-wrap">
                            <div class="contact-form-list d-wrap">
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Email <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Full name <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Company <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Job Title <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item phone d-item ">
                                    <div class="contact-form-input">
                                        <input type="text">
                                        <span class="contact-form-label">
                                            Phone number <strong>*</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="contact-form-item sl d-2 d-item">
                                    <select class="contact-form-item-sl" name="state">
                                        <option value="AL">Which product(s) are you interested in? * </option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                                <div class="contact-form-item d-2 d-item">
                                    <div class="contact-form-input">
                                        <textarea name="" id="" rows="6"
                                            placeholder="Your Message or Specific Request"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-form-ck">
                                <div class="contact-form-ck-item">
                                    <input id="item1" type="checkbox">
                                    <label for="item1"></label>
                                    <p> Receive VinAI Monthly Newsletter </p>
                                </div>
                                <div class="contact-form-ck-item">
                                    <input id="item2" type="checkbox">
                                    <label for="item2"></label>
                                    <p> By submitting this form, you agree to our <strong>Privacy Policy</strong> and
                                        <strong>Terms of Service</strong>
                                    </p>
                                </div>
                            </div>

                            <a href="" class="btn">
                                <span class="btn-ic">
                                    <img src="./assets/images/send.svg" alt="">
                                </span>
                                <span class="btn-text">
                                    Submit
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-close">
                <i class="fas fa-times icon"></i>
            </div>
        </div>
    </div>


    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/splitting/splitting.min.js "></script>
    <script src="./js/library/gsap/gsap.min.js"></script>
    <script src="./js/library/gsap/scrollTrigger.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>