<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body class="linear2">
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="" class="header-logo">
                    <img src="./assets/images/LogoVinAi.svg" alt="">
                </a>

                <ul class="header-menu">
                    <li class="menu-item actived">
                        <a href="" class="menu-link">
                            Home
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            About Us
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Product
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Solution
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Research
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            News
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Career
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Contact
                        </a>
                    </li>
                </ul>


                <div class="header-wrap-box">
                    <div class="header-language btn-lang ">
                        <div class="header-language-item">
                            <div class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </div>
                            <div class="header-language-item-ic">
                                <i class="fal fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="header-language-child header-lang">
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>

                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
                        </div>
                    </div>
                    <div class="header-navbar btn-navbar">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="menu-modal"></div>

    <div class="menu-mb">
        <div class="menu-mb-wrap">
            <ul class="menu-mb-list">
                <li class="menu-item actived">
                    <a href="" class="menu-link">
                        Home
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        About Us
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Product
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Solution
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Research
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        News
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Career
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Contact
                    </a>
                </li>
            </ul>

            <ul class="social-mb-list">
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
                <li class="social-mb-item">
                    <a href="" class="social-mb-link">
                        <img src="./assets/images/Facebook.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main pt">
        <div class="contact-solgan">
            <marquee behavior="scroll" direction="left" scrollamount="20">
                <div class="contact-solgan-wrap">
                    <div class="contact-solgan-text">
                        VinAI
                    </div>
                    <div class="contact-solgan-text custom">
                        VinAI
                    </div>
                    <div class="contact-solgan-text">
                        VinAI
                    </div>
                    <div class="contact-solgan-text custom">
                        VinAI
                    </div>
                    <div class="contact-solgan-text">
                        VinAI
                    </div>
                </div>


            </marquee>
        </div>
    </main>


    <footer class="footer">
        <div class="footer-bg">
            <img src="./assets/images/bgFooter.png" alt="">
        </div>
        <div class="container">
            <div class="footer-wrap d-wrap">
                <div class="footer-lf d-2 d-item">
                    <div class="footer-lf-content">
                        <a href="" class="footer-logo">
                             <img src="./assets/images/logoFooter.svg" alt="">
                        </a>

                        <div class="footer-note">
                            We solve real-world problems by transforming state-of-the-art AI research into impactful products and services.
                        </div>

                        <div class="footer-social">
                            <div class="footer-social-title">
                                Social Media
                            </div>
                            <ul class="footer-social-list">
                                <li class="footer-social-item">
                                    <a href="" class="footer-social-link">
                                        <span class="footer-social-img">
                                            <img src="./assets/images/Facebook.svg" alt="">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>