<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body class="linear2">
   <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="" class="header-logo">
                    <img src="./assets/images/LogoVinAi.svg" alt="">
                </a>

                <ul class="header-menu">
                    <li class="menu-item actived">
                        <a href="" class="menu-link">
                            Home
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            About Us
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Product
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Solution
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Research
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            News
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Career
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="" class="menu-link">
                            Contact
                        </a>
                    </li>


                </ul>


                <div class="header-wrap-box">
                    <div class="header-language">
                        <div class="header-language-item">
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
                            <div class="header-language-item-ic">
                                <i class="fal fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="header-language-child">
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
    
                            <a href="" class="header-language-link">
                                <span class="header-language-link-ic">
                                    <img src="./assets/images/united.svg" alt="">
                                </span>
                                EN
                            </a>
                        </div>
                    </div>
                    <div class="header-navbar">
                        <span class="span-line"></span>
                    </div>
                </div>
               
            </div>
        </div>
   </header>



    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>