.statistic {
    &-main {
        padding-top: 10rem;
        padding-bottom: 25rem;
        // padding-left: 5rem;
        // padding-right: 5rem;
        max-width: 150rem;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding-top: 5rem;
        }

        @media screen and (max-width: 800px) {
            padding-top: 3rem;
        }
    }

    &-box-img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        max-width: 50vw;
        margin: 0 auto;
        display: flex;
        column-gap: 4.8rem;
        z-index: 5;
        cursor: pointer;

        // @media screen and (max-width: 1400px) {
        //     max-width:50rem;
        //     }

        @include hover {
            .statistic-img-item-lf.bg-mau {
                // &:first-child {
                //     img {
                //         filter: brightness(0) saturate(100%) invert(44%) sepia(56%) saturate(4022%) hue-rotate(189deg)
                //             brightness(99%) contrast(97%);
                //     }
                // }

                &::before {
                    opacity: 1;
                }
            }

            .statistic-img-item-rt.bg-mau {
                // &:last-child {
                //     img {
                //         filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                //             brightness(103%) contrast(103%);
                //     }
                // }

                &::before {
                    opacity: 1;
                }
            }
        }

        &.actived {
            .statistic-img-item-lf.bg-mau {
                &::before {
                    opacity: 1;
                }
                // &:first-child {
                //     img {
                //         filter: brightness(0) saturate(100%) invert(44%) sepia(56%) saturate(4022%) hue-rotate(189deg)
                //             brightness(99%) contrast(97%);
                //     }
                // }
            }

            .statistic-img-item-rt.bg-mau {
                &::before {
                    opacity: 1;
                }

                // &:last-child {
                //     img {
                //         filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                //             brightness(103%) contrast(103%);
                //     }
                // }
            }
        }
    }

    &-wrap {
        position: relative;
        padding: 0 1.2rem;
    }

    &-box {
        &-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 11.6rem;

            .statistic-box-item {
                &:first-child {
                    position: relative;
                    // margin-left: -12rem;

                    .statistic-box-item-line {
                        max-width: 14.1rem;
                        right: -35%;
                        bottom: 35%;
                        transform: translate(50%, 50%);
                    }

                    .statistic-box-item-num {
                        top: 1rem;
                        right: -10rem;
                        transform: translate(0%, -50%);
                    }
                }

                &:nth-child(2) {
                    position: relative;
                    .statistic-box-item-line {
                        max-width: 14.1rem;
                        left: -55%;
                        top: 45%;
                        transform: translate(-50%, -50%);

                        // @media screen and (max-width: 1530px) {
                        //     left: -20rem;

                        //     top: 5.5rem;
                        // }

                        // @media screen and (max-width: 1500px) {
                        //     left: -18rem;
                        //     max-width: 10rem;
                        //     top: 6.5rem;
                        // }

                        // @media screen and (max-width: 1450px) {
                        //     left: -15rem;
                        //     max-width: 10rem;
                        //     top: 6.5rem;
                        // }

                        // @media screen and (max-width: 1400px) {
                        //     left: -12rem;
                        //     max-width: 10rem;
                        //     top: 6.6rem;
                        // }
                    }

                    .statistic-box-item-num {
                        top: 0;
                        left: -8rem;
                        transform: translate(0%, -50%);
                    }
                }
            }
        }

        &-center {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 14rem;

            .statistic-box-item {
                &:first-child {
                    position: relative;

                    .statistic-box-item-line {
                        max-width: 14.1rem;
                        right: -21rem;
                        top: 5rem;
                    }

                    .statistic-box-item-num {
                        bottom: 0;
                        right: -10rem;
                        transform: translate(0%, 50%);
                    }
                }

                &:last-child {
                    position: relative;

                    .statistic-box-item-line {
                        max-width: 14.1rem;
                        left: -25rem;
                        top: 5rem;
                    }

                    .statistic-box-item-num {
                        bottom: 0;
                        left: -8rem;
                        transform: translate(0%, 50%);
                    }
                }
            }
        }

        &-bottom {
            .statistic-box-item {
                margin: 0 auto;

                .statistic-box-item-line {
                    max-width: 14.1rem;
                    left: 14rem;
                    top: -21rem;
                }

                .statistic-box-item-num {
                    bottom: -4rem;
                    left: 50%;
                    transform: translate(-50%, 50%);
                }
            }
        }
    }

    &-box-item {
        position: relative;
        width: fit-content;
        z-index: 2;
        cursor: pointer;

        &-wrap {
            position: relative;
            width: fit-content;
        }

        &-line {
            position: absolute;
            z-index: 5;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &.trans {
            .statistic-box-item-text {
                background: rgba(255, 255, 255, 0.065);
                backdrop-filter: blur(0.5rem);
                border: 0.1rem solid #6f7c91;
            }

            .statistic-box-item-num {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                background-clip: text !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
            }
        }

        &.blue {
            .statistic-box-item-text {
                border: 0.1rem solid #4e94bf;
                background: rgba(0, 170, 251, 0.4);
                backdrop-filter: blur(0.5rem);
            }

            .statistic-box-item-num {
                background: linear-gradient(180deg, rgba(0, 175, 250, 0.4) 0%, rgba(0, 175, 250, 0) 100%);
                background-clip: text !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
            }
        }

        &-num {
            position: absolute;
            font-size: 25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            opacity: 0.5;
        }

        &-text {
            max-width: 35rem;
            padding: 2.5rem 1.7rem;
            color: $color-text;
            text-align: center;
            font-size: 20px;
            @include fz-20;
            font-weight: 300;
            line-height: 1.5;
            border-radius: 20px;

            @media screen and (max-width: 1400px) {
                max-width: 30rem;
            }
        }
    }

    &-img-item {
        &-lf {
            &.bg-mau {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.5s linear;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/static1\,1.svg);
                }
            }

            &:first-child {
                max-width: 24.7rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                max-width: 19rem;
                margin-top: -5rem;
                margin-left: 5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-rt {
            &.bg-mau {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.5s linear;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/static2.2.svg);
                }
            }

            &:first-child {
                max-width: 12rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                max-width: 14rem;
                margin-top: -4rem;
                margin-left: 5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(3) {
                max-width: 24rem;
                margin-top: -5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-btn {
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid $color-text;
        margin: 0 auto 10rem;
        cursor: pointer;
        animation: truotCD 1s linear infinite;
        i {
            font-size: 4rem;

            @media screen and (max-width: 1200px) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 8rem;
            height: 8rem;
            margin: 0 auto 8rem;
        }

        @keyframes truotCD {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(5%);
            }

            100% {
                transform: translateY(0%);
            }
        }
    }

    &-title {
        max-width: 85.5rem;
        margin: 0 auto 15rem;
        color: $color-text;
        @include fz-64;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        text-align: center;
        strong {
            font-weight: 700;
            display: block;
        }
    }
}
