.statistic {
    &-main {
        padding-top: 10rem;
        padding-bottom: 30rem;
        // padding-left: 5rem;
        // padding-right: 5rem;
        max-width: 150rem;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding-top: 5rem;
            padding-bottom: 15rem;
        }

        @media screen and (max-width: 800px) {
            padding-top: 3rem;
            padding-bottom: 5rem;
        }

        &.hiddenNumber {
            .statistic-box-item-num {
                display: none;
            }

            .statistic-box-item {
                &:first-child {
                    position: absolute;
                    top: 20%;
                    left: -40%;

                    .statistic-box-item-num {
                        margin-bottom: -12vw;
                        margin-left: 11vw;
                    }
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 20%;
                    right: -35%;

                    .statistic-box-item-num {
                        margin-bottom: -12vw;
                        margin-left: -5vw;
                    }
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 52%;
                    left: -40%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: 9vw;
                    }
                }

                &:nth-child(4) {
                    position: absolute;
                    top: 45%;
                    right: -45%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: -9vw;
                    }
                }

                &:last-child {
                    position: absolute;
                    top: 90%;
                    left: 28%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: 2vw;
                    }
                }
            }

            .statistic-box-item-line{
                &:first-child {
                    top: 30%;
                    left: 10%;
                    width: 8vw;
                }
    
                &:nth-child(2) {
                    top: 28%;
                    right: 15.8%;
                    width: 8vw;
                }
    
                &:nth-child(3) {
                    top: 59.5%;
                    left: 10%;
                    width: 8vw;
                }
    
                &:nth-child(4) {
                    top: 58.5%;
                    right: 15.8%;
                    width: 8vw;
                }
    
                &:last-child {
                    top: 65%;
                    right: 48.8%;
                    width: 2vw;
                }
            }


        }
    }

    &-box-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        column-gap: 2vw;
        z-index: 5;
        cursor: pointer;

        @include hover {
            .statistic-img-item-lf.bg-mau {
                &::before {
                    opacity: 1;
                }

                img {
                    opacity: 0;
                }
            }

            .statistic-img-item-rt.bg-mau {
                &::before {
                    opacity: 1;
                }

                img {
                    opacity: 0;
                }
            }
        }

        &.actived {
            .statistic-img-item-lf.bg-mau {
                img {
                    opacity: 0;
                }

                &::before {
                    opacity: 1;
                }
            }

            .statistic-img-item-rt.bg-mau {
                img {
                    opacity: 0;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &-wrap {
        position: relative;
        width: 50vw;
        height: 50vw;
        margin: -10vw auto 0;

        @media screen and (max-width: 800px) {
            display: none;
        }
    }

    &-wrap-mb {
        display: none;

        @media screen and (max-width: 800px) {
            display: block;
        }

        .swiper-slide {
            height: auto;

            @media screen and (max-width: 500px) {
                width: 100%;
            }
        }
    }

    &-item-mb {
        padding: 6rem 2rem;
        height: 100%;

        @media screen and (max-width: 600px) {
            padding: 4rem 2rem;
        }
        &-num {
            color: white;
            @include fz-40;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5; /* 30px */
            margin-bottom: 1rem;
            text-align: center;
        }

        &-text {
            text-align: center;

            color: $color-text;
            @include fz-20;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5; /* 30px */
        }

        &.blue {
            background: linear-gradient(90deg, rgba(14, 140, 250, 0.8) 0%, rgba(0, 170, 251, 0.8) 77.19%);
            backdrop-filter: blur(2rem);
        }

        border-radius: 2rem;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(2rem);

        strong {
            font-weight: 700;
        }
    }

    &-box {
        &-list {
            .statistic-box-item {
                &:first-child {
                    position: absolute;
                    top: 0%;
                    left: -45%;

                    .statistic-box-item-num {
                        margin-bottom: -12vw;
                        margin-left: 11vw;
                    }
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 0%;
                    right: -45%;

                    .statistic-box-item-num {
                        margin-bottom: -12vw;
                        margin-left: -5vw;
                    }
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 60%;
                    left: -45%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: 9vw;
                    }
                }

                &:nth-child(4) {
                    position: absolute;
                    top: 60%;
                    right: -45%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: -9vw;
                    }
                }

                &:last-child {
                    position: absolute;
                    top: 90%;
                    left: 28%;

                    .statistic-box-item-num {
                        margin-bottom: -25vw;
                        margin-left: 2vw;
                    }
                }
            }
        }
    }

    &-box-item {
        position: relative;
        width: fit-content;
        z-index: 2;
        cursor: pointer;

        &-wrap {
            position: relative;
            width: fit-content;
        }

        &-line {
            position: absolute;
            z-index: 5;
            img {
                width: 100%;
                height: 100%;
            }

            &:first-child {
                top: 30%;
                left: 10%;
                width: 8vw;
            }

            &:nth-child(2) {
                top: 28%;
                right: 15.8%;
                width: 8vw;
            }

            &:nth-child(3) {
                top: 59.5%;
                left: 10%;
                width: 8vw;
            }

            &:nth-child(4) {
                top: 58.5%;
                right: 15.8%;
                width: 8vw;
            }

            &:last-child {
                top: 65%;
                right: 48.8%;
                width: 2vw;
            }
        }

        &.trans {
            .statistic-box-item-text {
                background: rgba(255, 255, 255, 0.065);
                backdrop-filter: blur(0.5rem);
                border: 0.1rem solid #6f7c91;
            }

            .statistic-box-item-num {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
                background-clip: text !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
            }
        }

        &.blue {
            .statistic-box-item-text {
                border: 0.1rem solid #4e94bf;
                background: linear-gradient(90deg, rgba(14, 140, 250, 0.8) 0%, rgba(0, 170, 251, 0.8) 77.19%);
                backdrop-filter: blur(2rem);
            }

            .statistic-box-item-num {
                background: linear-gradient(180deg, rgba(0, 175, 250, 0.4) 0%, rgba(0, 175, 250, 0) 100%);
                background-clip: text !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
            }
        }

        &-num {
            position: static;
            font-size: 15vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            opacity: 0.5;
        }

        &-text {
            width: 22vw;
            padding: 2.5vw 1.7vw;
            color: $color-text;
            text-align: center;
            font-size: 1.2vw;

            font-weight: 300;
            line-height: 1.5;
            border-radius: 1vw;

            strong {
                font-weight: 700;
            }
        }
    }

    &-img-item {
        &-lf {
            &.bg-mau {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.5s linear;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/static1\,1.svg);
                }
            }

            &:first-child {
                width: 15.7vw;

                img {
                    transition: all 0.5s linear;
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                width: 11vw;
                margin-top: -3vw;
                margin-left: 4vw;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &-rt {
            &.bg-mau {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    transition: all 0.5s linear;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/static2.2.svg);
                }
            }

            &:first-child {
                width: 8vw;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                width: 8vw;
                margin-top: -3vw;
                margin-left: 3.5vw;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(3) {
                width: 15vw;
                margin-top: -2.5vw;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s linear;
                }
            }
        }
    }

    &-btn {
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid $color-text;
        margin: 0 auto 10rem;
        cursor: pointer;
        animation: truotCD 1s linear infinite;
        i {
            font-size: 4rem;

            @media screen and (max-width: 1200px) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 1200px) {
            width: 8rem;
            height: 8rem;
            margin: 0 auto 8rem;
        }

        @keyframes truotCD {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(5%);
            }

            100% {
                transform: translateY(0%);
            }
        }
    }

    &-title {
        max-width: 85.5rem;
        margin: 0 auto 15rem;
        color: $color-text;
        @include fz-64;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        text-align: center;
        strong {
            font-weight: 700;
            display: block;
        }

        @media screen and (max-width: 1200px) {
            margin: 0 auto 10rem;
        }

        @media screen and (max-width: 800px) {
            margin: 0 auto 5rem;
        }
    }
}
