.about-video {
    position: relative;

    &-tt {
        
    }

    &-text {
        position: absolute;
        font-size: 20rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        -webkit-text-stroke-width: 0.1rem !important;
        -webkit-text-stroke-color: white !important;
        color: transparent;

        &:first-child{
            top: 0;
            left: 0;
        }
    }
}
