.about-video {
    position: relative;

    &-tt {
        
    }

    &-text {
        position: absolute;
        font-size: 20rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        -webkit-text-stroke-width: 0.1rem !important;
        -webkit-text-stroke-color: white !important;
        color: transparent;
        z-index: -1;
        &:first-child{
            top: 0;
            left: 3%;
        }

        &:last-child{
            top: 50%;
            right: 0;
        }
    }
}
