.about-video {
    position: relative;

    .said-main-text {
        @include fz-32;
    }

    .said-main-phay {
        max-width: 26rem;

        @media screen and (max-width: 1200px) {
            max-width: 10rem;
        }

        @media screen and (max-width: 800px) {
            max-width: 8rem;
        }

        @media screen and (max-width: 600px) {
            max-width: 6rem;
        }
    }

    &-tt {
    }

    &-text {
        position: absolute;
        font-size: 20rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        -webkit-text-stroke-width: 0.1rem !important;
        -webkit-text-stroke-color: white !important;
        color: transparent;
        z-index: -1;
        opacity: 0.2;
        letter-spacing: 0.5rem;

        @media screen and (max-width: 1200px) {
            display: none;
        }
        &:first-child {
            top: 6%;
            left: 3%;
        }

        &:last-child {
            top: 35%;
            right: 3%;
        }
    }
}

.about-vision {
    position: relative;

    .title-main {
        // margin: 0 auto -10rem;
        transform: translateY(100%);

        @media screen and (max-width: 1200px) {
            transform: translateY(0);
        }
    }

    .box-gsap {
        padding-top: 17rem;

        @media screen and (max-width: 1200px) {
            padding-top: 2rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: url(../assets/images/vision.png);
        background-position: center center;
        background-repeat: no-repeat;
        // background-size: 100%;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    .said-main-wrap {
        max-width: 80rem;
    }

    .said-main-text {
        @include fz-20;
        font-weight: 700;
    }

    .said-main-phay {
        top: -3rem;
        left: 10rem;
        max-width: 10rem;
        z-index: -1;
        @media screen and (max-width: 1200px) {
            max-width: 6rem;
            top: -2rem;
            left: 0;
        }
    }
}

.about-mission {
    .title-main {
        margin-bottom: 5rem;

        @media screen and (max-width: 1200px) {
            margin-bottom: 0;
        }
    }
}

.about-pila {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .title-main {
        margin-bottom: 5rem;
    }

    @media screen and (max-width:1200px) {
        padding-top: 5rem;
        padding-bottom: 8rem;
    }

    @media screen and (max-width:800px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &-list {
        display: block;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &-item {
        width: 100%;
        height: 100%;
        padding: 5.6rem 0;

        cursor: pointer;
        position: relative;

        &-tt {
            position: absolute;
            pointer-events: none;
            font-size: 15rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            color: transparent;
            z-index: 2;
            opacity: 0.1;
            letter-spacing: 0.5rem;
            -webkit-text-stroke: 0.1rem white !important;
        }

        &:first-child {
            background: url(../assets/images/pila1.png);
            background-position: center center;
            background-repeat: no-repeat;

            .about-pila-item-tt {
                top: 50%;
                left: 100%;
                transform: translate(-50%, -50%);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/images/pila1.1.png);
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s linear;
            }

            @include hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-back {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-font {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &:nth-child(2) {
            background: url(../assets/images/pila2.png);
            background-position: center center;
            background-repeat: no-repeat;

            .about-pila-item-tt {
                top: 50%;
                left: -25%;
                transform: translate(-50%, -50%);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/images/pila2.1.png);
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s linear;
            }

            @include hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-back {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-font {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &:last-child {
            background: url(../assets/images/pila3.png);
            background-position: center center;
            background-repeat: no-repeat;

            .about-pila-item-tt {
                top: 50%;
                left: 110%;
                transform: translate(-50%, -50%);
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/images/pila3.1.png);
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s linear;
            }

            @include hover {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-back {
                    opacity: 1;
                    visibility: visible;
                }

                .about-pila-item-font {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &-font {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4rem;
            width: fit-content;
            margin: auto;
            transition: all 0.5s ease;
            opacity: 1;
            visibility: visible;
            &-lf {
                color: rgba(255, 255, 255, 0.2);

                font-size: 9.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5; /* 144px */
            }

            &-rt {
                color: $color-text;
                @include fz-40;
                font-style: normal;
                font-weight: 700;
                line-height: 1.3; /* 52px */
            }
        }

        &-back {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            max-width: 88rem;
            margin: auto;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.5s ease;
            visibility: hidden;
            padding: 0.5rem;
            &-lf {
                &-title {
                    color: var(--white, #fff);
                    @include fz-32;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.3;
                }

                &-num {
                    color: rgba(255, 255, 255, 0.2);
                    font-size: 9.6rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }

            &-rt {
                &-text {
                    max-height: 17.2rem;
                    overflow-y: auto;
                    color: $color-text;
                    @include fz-16;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    padding-right: 0.3rem;
                    &::-webkit-scrollbar {
                        width: 0.3rem;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #19b7fb;
                    }
                }
            }
        }
    }

    &-list-mb{
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
        }
        .swiper-slide{
            height: auto;

            @media screen and (max-width:460px) {
                width: 100%;
            }
        }
    }

    &-item-mb {
        padding:2rem 1rem;
        background: linear-gradient(90deg, rgba(14, 140, 250, 0.8) 0%, rgba(0, 170, 251, 0.8) 77.19%);
        backdrop-filter: blur(2rem);
        border-radius: 2rem;
        height: 100%;
        &-top {
            display: flex;
            align-items: center;
            column-gap: 1rem;
           flex-direction: column;
           margin-bottom: 1rem;
        }

        &-num {
            color: rgba(255, 255, 255, 0.2);
            font-size: 8rem;

            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            flex-shrink: 0;

            @media screen and (max-width:600px){
            font-size: 4rem;

            }
        }

        &-title {
            color: $color-text;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
            text-align: center;
        }

        &-text {
            color: $color-text;
            max-height: 17.2rem;
            overflow-y: scroll;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            padding-right: 0.3rem;
            &::-webkit-scrollbar {
                width: 0.3rem;
            }

            @media screen and (max-width:600px){
                max-height: 14.2rem;
    
                }
        }
    }
}

.about-mile {
    &-top {
        width: 50vw;
        margin: auto;
        display: flex;
        align-items: center;
        column-gap: 2vw;
        margin-bottom: 4vw;
        &-lf {
            width: 6.5vw;
            height: 6.5vw;
            display: flex;
            justify-content: start;
            align-items: center;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.08);
            position: relative;
            overflow: hidden;
            flex-shrink: 0;
            &-wrap {
                display: flex;
                align-items: center;
            }
        }

        &-num {
            width: 6.5vw;
            height: 6.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-text;
            font-size: 3vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3; /* 83.2px */
            text-align: center;
            flex-shrink: 0;
        }

        &-rt {
            width: 50vw;
            overflow: hidden;

            &-list {
                display: flex;
                align-items: center;
                // column-gap: 1vw;
                transform: translateX(0%);
            }

            &-item {
                width: 50vw;
                text-align: start;
                flex-shrink: 0;
                color: $color-text;
                font-size: 1.6vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5; /* 48px */
                white-space: nowrap;
            }
        }
    }

    &-bottom {
        border-top: 0.1rem solid $color-second;

        &-list {
            padding-left: 10vw;
            // padding-right: 10vw;
            display: flex;
            flex-wrap: nowrap;
            column-gap: 8vw;
        }

        &-around {
            display: block;
            width: 0.8vw;
            height: 0.8vw;
            border: 0.2vw solid $color-pri;
            background: $color-second;
            border-radius: 50%;
        }

        &-title {
            color: $color-pri;

            font-size: 2vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5; /* 48px */
        }

        &-text {
            color: $color-text;
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
        }

        &-item {
            flex-shrink: 0;
            width: 18vw;
            display: flex;
            flex-direction: column;
            row-gap: 0.5vw;
            margin-top: -0.5vw;
        }
    }
}

.about-our {
    padding-top: 15rem;
    padding-bottom: 5rem;
    .title-main {
        text-align: start;
    }

    &-top {
        &-wrap {
            justify-content: space-between;
        }

        &-lf {
            max-width: 48.6rem;
        }
    }

    &-bottom {
        &-wrap {
            flex-wrap: nowrap;
        }

        &-lf {
            width: 70%;

            .swiper {
                padding-top: 20rem;
                // overflow: visible;
                width: 100%;
                padding-right: 2.5vw;
            }

            .swiper-slide {
                .about-our-bottom-lf-img {
                    transform: translateY(10%) scale(0.8);
                }
            }

            .swiper-slide-active {
                .about-our-bottom-lf-img {
                    transform: translate(8%, -15%) scale(1.3, 1.4);
                }
            }

            &-wrap {
                max-width: 28rem;
            }

            &-img {
                position: relative;
                width: 100%;
                height: 100%;
                // overflow: hidden;
                transition: all 0.5s ease;

                img {
                    width: 100%;
                    height: 100%;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%,-50%);
                    object-fit: cover;
                }
            }
        }

        &-rt {
            width: 50%;
            margin-left: -22vw;
            &-wrap {
                padding: 2vw;
                border-radius: 2vw;
                background: rgba(249, 249, 251, 0.1);
                backdrop-filter: blur(2rem);
                display: flex;
                justify-content: flex-end;

                @media screen and (max-width:1500px){
                    margin-top: 4vw;
                }

                @media screen and (max-width:1200px){
                    margin-top: 4vw;
                }
            }

            &-content {
                width: 25vw;
            }

            &-title {
                color: $color-text;
                font-size: 1.6vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5;
                width: 16vw;
                margin-bottom: 1vw;

                @media screen and (max-width:1200px) {
                    font-size: 1.8vw;
                }
            }

            &-list {
                list-style: disc;
                padding-left: 1vw;
            }

            &-item {
                color: $color-text;
                font-size: 0.8vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;

                @media screen and (max-width:1200px) {
                    font-size: 1vw;
                }

                strong {
                    color: $color-pri;
                    font-weight: 700;
                }
            }
        }
    }
}
