.about-video {
    position: relative;

    &-tt {
        
    }

    &-text {
        position: absolute;
        font-size: 20rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        -webkit-text-stroke-width: 0.1rem !important;
        -webkit-text-stroke-color: white !important;
        color: transparent;
        z-index: -1;
        opacity: 0.2;

        @media screen and (max-width:1200px) {
            display: none;
        }
        &:first-child{
            top: 6%;
            left: 3%;
        }

        &:last-child{
            top: 35%;
            right: 3%;
        }
    }
}
