.career-banner {
    width: 100%;
    // height: calc(100vw * 673 / 1728);
    min-height: 67.5rem;
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;

    @media screen and (max-width: 1200px) {
        min-height: 50rem;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-wrap {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    &-title {
        color: $color-text;
        font-size: 8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3; /* 104px */
        text-align: center;
        margin-bottom: 4rem;

        @media screen and (max-width: 1200px) {
            font-size: 6rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 4rem;
        }
    }

    &-top {
        margin-bottom: 10rem;

        @media screen and (max-width: 1200px) {
            margin-bottom: 5rem;
        }
    }
}

.career-search-box {
    max-width: 58.8rem;
    margin: auto;
    position: relative;
    input {
        border: 0.1rem solid #6c778a;
        width: 100%;
        border-radius: 10rem;
        background: rgba(249, 249, 251, 0.08);
        // backdrop-filter: blur(0rem);
        padding: 1.3rem 5.7rem 1.3rem 2.7rem;
        color: rgba(255, 255, 255, 0.5);
        @include fz-16;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 24px */
        transition: all 0.5s linear;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
            @include fz-16;
            font-style: normal;
            font-weight: 400 !important;
            line-height: 1.5; /* 24px */
        }
        &:focus {
            border-color: $color-pri;
        }
    }

    .btn {
        position: absolute;
        top: 50%;
        right: 0.8rem;
        transform: translate(0, -50%);
        padding: 1rem;
        border-radius: 50%;
    }
}

.said-main {
    max-width: 110rem;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &-phay {
        max-width: 14.8rem;
        position: absolute;
        top: -2rem;
        left: 0;
        opacity: 0;

        @media screen and (max-width: 1200px) {
            opacity: 1;
            max-width: 8rem;
        }

        @media screen and (max-width: 600px) {
            max-width: 6rem;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-wrap {
        max-width: 99.6rem;
        margin-right: 0;
    }

    &-text {
        color: $color-text;
        text-align: center;
        @include fz-24;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 36px */
    }

    .word {
        opacity: 0;

        @media screen and (max-width: 1200px) {
            opacity: 1;
        }
    }
}

.career-available {
    overflow: hidden;
    &-title {
        color: $color-text;
        text-align: center;
        @include fz-64;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3; /* 83.2px */
        margin-bottom: 6rem;
    }

    .select2-container--default .select2-selection--single {
        height: 4.4rem;
        border-radius: 10rem;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
        border-radius: 10rem;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        background-image: url(../assets/images/arrowAva.svg);
    }

    .career-search-box .btn {
        padding: 0.8rem;
    }

    .career-search-box input {
        padding: 1rem 5.7rem 1rem 2.7rem;
        border: none;
        @include fz-14;
    }

    &-lf {
        width: calc(9 * 100% / 12);

        @media screen and (max-width: 1650px) {
            width: 65%;
        }

        @media screen and (max-width: 1400px) {
            width: 60%;
        }

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    &-rt {
        flex: 1;

        @media screen and (max-width: 1200px) {
            display: none;
        }

        &-wrap {
            margin-right: calc((100vw - 120rem) / -2);
            position: relative;
        }

        &-box {
            max-width: 98rem;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &-img {
            padding-top: calc(100% * 1600 / 977);
            width: 100%;
            position: relative;
            height: 100%;
            z-index: -1;
            top: -20rem;
            right: 6rem;
            position: relative;
            overflow: hidden;
            transform: rotate(-35deg);

            @media screen and (max-width: 1650px) {
                top: -10rem;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-top {
        align-items: center;
        margin-bottom: 5.8rem;

        @media screen and (max-width: 800px) {
            row-gap: 1.6rem;
            margin-bottom: 3rem;
        }

        &-item {
            .career-search-box {
                @media screen and (max-width: 800px) {
                    max-width: none;
                }
            }

            &:first-child {
                width: 20%;

                @media screen and (max-width: 800px) {
                    width: 50%;
                    order: 2;
                }
            }

            &:nth-child(2) {
                width: 30%;

                @media screen and (max-width: 800px) {
                    width: 50%;
                    order: 3;
                }
            }

            &:last-child {
                width: 50%;
                @media screen and (max-width: 800px) {
                    width: 100%;
                    order: 1;
                }
            }
        }
    }

    &-bottom {
        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 2.4rem;
            margin-bottom: 5rem;
            position: relative;
            overflow: hidden;
        }

        &-title {
            color: $color-text;
            @include fz-20;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 0.7rem;
        }

        &-item {
            padding: 1.8rem 3.8rem;
            border-radius: 2rem;
            border: 0.1rem solid #545c6e;
            background: rgba(255, 255, 255, 0.08);
            // backdrop-filter: blur(0rem);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
                margin: unset !important;

                // @media screen and (max-width:460px) {
                //     margin: auto !important;
                // }
            }

            @media screen and (max-width: 800px) {
                padding: 1.8rem 2rem;
            }

            @media screen and (max-width: 460px) {
                flex-direction: column;
                align-items: start;
                row-gap: 2rem;
            }
        }

        &-box {
            display: flex;
            column-gap: 2.3rem;
            &-item {
                display: flex;
                column-gap: 0.8rem;
                color: $color-text;
                @include fz-14;

                font-style: normal;
                font-weight: 400;
                line-height: 1.5; /* 21px */
            }

            &-ic {
                width: 1.8rem;
                height: 1.8rem;
                flex-shrink: 0;
                margin-top: 0.5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-btn {
        margin-top: 5rem;
        display: block;
        display: flex;
        justify-content: center;
    }
}

.box-slide {
    padding-top: 18rem;
    padding-bottom: 10rem;
    overflow: hidden;
    .swiper {
        // transform: rotate(-5deg);
        overflow: visible;
    }

    @media screen and (max-width: 1200px) {
        padding-bottom: 5rem;
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 3rem;
    }

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: 30%;

        @media screen and (max-width: 1200px) {
            width: 35%;
        }

        @media screen and (max-width: 800px) {
            width: 40%;
        }

        @media screen and (max-width: 600px) {
            width: 50%;
        }

        @media screen and (max-width: 460px) {
            width: 60%;
        }
    }

    &-item {
        width: 100%;
        background: rgba(249, 249, 251, 0.08);
        backdrop-filter: blur(20px);
        padding: 2rem;
        border-radius: 2rem;

        @media screen and (max-width: 800px) {
            padding: 1.5rem;
        }

        @media screen and (max-width: 460px) {
            padding: 1rem;
        }
        &-img {
            padding-top: calc(100% * 440 / 550);
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 2rem;

            @media screen and (max-width: 460px) {
                border-radius: 1rem;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }
}

.career-slide {
    &-wrap {
        max-width: 141rem;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        padding-top: 48rem;
        padding-bottom: 0rem;
    }

    &-box {
        display: flex;
        column-gap: 2rem;
        width: fit-content;
        justify-content: center;
        margin: 50rem auto 0;
    }

    &-ao {
        display: none;
    }

    &-page {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        background-color: $color-pri;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 0.1rem;
        color: #fff;
        @include fz-16;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5; /* 24px */
    }

    &-btn {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 0.15rem solid $color-text;
        background-color: transparent;
        transition: all 0.3s ease;
        cursor: pointer;
        img {
            width: 2rem;
            height: 3rem;
        }

        @include hover {
            background-color: $color-second;

            img {
                filter: brightness(0) saturate(100%) invert(46%) sepia(89%) saturate(2269%) hue-rotate(168deg)
                    brightness(105%) contrast(105%);
            }
        }
    }

    &-list {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.5s linear;
    }

    &-item {
        max-width: 99rem;
        border-radius: 2rem;
        background: rgba(249, 249, 251, 0.086);
        backdrop-filter: blur(2rem);
        padding: 5rem 7.8rem;
        border: 0.1rem solid #696e7b;
        display: flex;
        column-gap: 3.2rem;
        justify-content: space-between;
        position: absolute;
        transition: all 0.5s ease;
        user-select: none;
        &.downed {
            // &:first-child{
            //     animation: anHien 0.5s ease-in forwards;
            // }

            animation: anHien 0.5s ease-in forwards;
            @keyframes anHien {
                0% {
                    // top: 0;
                    transform: translateY(0);
                    opacity: 1;
                }

                50% {
                    // top: 50rem;
                    opacity: 0.5;
                }

                100% {
                    // top: 100rem;
                    transform: translateY(100%);

                    opacity: 0;
                }
            }
        }

        &.upped {
            // &:first-child{
            //     animation: anHien 0.5s ease-in forwards;
            // }

            animation: anHien2 0.5s ease-in forwards;
            @keyframes anHien2 {
                0% {
                    transform: translateY(100%);

                    opacity: 0;
                }

                50% {
                    opacity: 0.5;
                }

                100% {
                    // top:0rem;
                    transform: translateY(0);

                    display: flex;

                    opacity: 1;
                }
            }
        }

        &:first-child {
            top: 0;
            left: 0;
            z-index: 10;
            // animation: anHien 0.5s ease-in forwards;
            // @keyframes anHien {
            //     0%{
            //         top: 0;
            //         opacity: 1;
            //     }

            //     50%{
            //         top: 50rem;
            //         opacity: 0.5;
            //     }

            //     100%{
            //         top: 100rem;

            //         opacity: 0;
            //     }
            // }
        }

        &:nth-child(2) {
            top: -5rem;
            left: 5rem;
            z-index: 9;
        }

        &:nth-child(3) {
            top: -10rem;
            left: 10rem;
            z-index: 8;
        }

        &:nth-child(4) {
            top: -15rem;
            left: 15rem;
            z-index: 7;
        }

        &:nth-child(5) {
            top: -20rem;
            left: 20rem;
            z-index: 6;
        }

        &:nth-child(6) {
            top: -25rem;
            left: 25rem;
            z-index: 5;
        }

        &:nth-child(7) {
            top: -30rem;
            left: 30rem;
            z-index: 4;
        }

        &:nth-child(8) {
            top: -35rem;
            left: 35rem;
            z-index: 3;
        }
    }

    &-text {
        color: $color-text;
        @include fz-16;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; /* 24px */
        margin-bottom: 3rem;
    }

    &-author {
        display: flex;
        justify-content: flex-end;

        &-text {
            color: $color-text;
            @include fz-16;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5; /* 24px */
            text-align: end;
            position: relative;
            width: fit-content;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -7rem;
                transform: translate(-50%, -50%);
                width: 8rem;
                height: 0.1rem;
                background-color: $color-text;
            }
        }
    }

    &-lf {
        width: 60%;
    }

    &-rt {
        width: 40%;

        &-wrap {
            // max-width: 30rem;
        }

        &-img {
            padding-top: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 0.8rem;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.car-details {
    padding-top: 20rem;
    padding-bottom: 20rem;

    @media screen and (max-width: 1200px) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    @media screen and (max-width: 768px) {
        padding-top: 0rem;
        padding-bottom: 5rem;
    }

    @media screen and (max-width: 460px) {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }

    &-wrap {
        padding-bottom: 10rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);

        @media screen and (max-width: 1200px) {
            padding-bottom: 8rem;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            row-gap: 3rem;
            padding-bottom: 5rem;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        row-gap: 10rem;

        @media screen and (max-width: 600px) {
            row-gap: 0;
        }
    }

    &-lf {
        width: calc(100% * 5 / 12);

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        &-content {
            margin-top: -11rem;

            @media screen and (max-width: 768px) {
                margin-top: -8rem;
            }

            @media screen and (max-width: 600px) {
                margin-top: 0;
            }
        }

        &-num {
            font-size: 30rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;

            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (max-width: 1200px) {
                font-size: 25rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 20rem;
            }

            @media screen and (max-width: 600px) {
                text-align: center;
                margin-top: -2rem;
            }

            @media screen and (max-width: 460px) {
                font-size: 16rem;
            }
        }

        &-title {
            padding: 4.4rem 4.5rem;
            border-radius: 2rem;
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(2rem);
            color: $color-text;
            text-align: center;
            @include fz-40;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3; /* 52px */
            border: 0.1rem solid #afc0d5;
            margin-top: -16rem;
            max-width: 42rem;

            @media screen and (max-width: 1200px) {
                padding: 3rem;
                @include fz-30;
            }

            @media screen and (max-width: 768px) {
                margin-top: -12rem;
                padding: 2rem;
                @include fz-30;
            }

            @media screen and (max-width: 600px) {
                max-width: none;
                margin-top: -4rem;
            }
        }
    }

    &-rt {
        flex: 1;
        width: 100%;

        &-wrap {
            display: flex;
            row-gap: 2.4rem;
            flex-direction: column;
        }

        &-title {
            color: $color-text;
            @include fz-20;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 1rem;
        }

        &-list {
            flex-direction: column;
            row-gap: 0.5rem;
            list-style: disc;
            padding-left: 2.5rem;
        }

        &-item {
            color: $color-text;
            @include fz-16;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}

.ready-join {
    padding-top: 5rem;
    padding-bottom: 10rem;
    position: relative;

   
        @include hover{
            .ready-join-title{
            strong{
                -webkit-text-stroke-width: unset;
                -webkit-text-stroke-color: unset;
                color: $color-text;
            }
        }
    }

   

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &-wrap{
        max-width: 86.4;
    }

    &-title {
        color: $color-text;
        @include fz-100;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
        z-index: 5;
        margin-bottom: 8rem;
        strong {
            -webkit-text-stroke-width: 0.1rem !important;
            -webkit-text-stroke-color: white !important;
            color: transparent;
            transition: all 0.5s linear;
        }

       
    }
}
