.contact-solgan {
    padding-top: 8rem;
    padding-bottom: 8rem;

    @media screen and (max-width: 1200px) {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    &-wrap {
        display: flex;
        align-items: center;
        column-gap: 3.2rem;
        width: 100%;
    }

    &-text {
        color: $color-text;
        font-size: 12.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3; /* 166.4px */
        letter-spacing: 0.64rem;

        &.custom {
            -webkit-text-stroke-width: 0.1rem !important;
            -webkit-text-stroke-color: white !important;
            color: transparent;
        }
    }
}

.form-main {
    overflow: hidden;
}

.contact {
    &-title {
        color: $color-text;
        text-align: center;
        @include fz-64;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    &-note {
        text-align: center;
        @include fz-40;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3; /* 52px */
        background: linear-gradient(90deg, #0e8cfa 0%, #00aafb 77.19%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-form {
        padding-top: 8rem;
        // overflow: hidden;
        @media screen and (max-width: 1200px) {
            padding-top: 4rem;
        }
        &-input {
            position: relative;

            &.upload {
                cursor: pointer;
                input {
                    display: none;
                }

                border: 0.1rem dashed $color-text;
                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                padding: 4rem 6rem;
                height: 95%;
                row-gap: 0.6rem;

                @media screen and (max-width: 800px) {
                    padding: 3rem;
                }
            }

            &-text {
                color: $color-text;
                @include fz-14;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;

                strong {
                    font-weight: 700;
                }
            }

            &-ic {
                width: 4rem;
                height: 4rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &.hiddenLB {
                .contact-form-label {
                    display: none;
                }
            }

            textarea {
                width: 100%;
                padding: 1.4rem 2.4rem 1.3rem;
                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.1);
                // backdrop-filter: blur(0rem);
                color: $color-text;

                border: 0.1rem solid transparent;
                @include fz-14;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5; /* 21px */
                transition: all 0.3s ease;

                &::placeholder {
                    color: $color-text;

                    @include fz-14;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5; /* 21px */
                }
            }

            input {
                width: 100%;
                padding: 1.4rem 2.4rem 1.3rem;
                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.1);
                // backdrop-filter: blur(0rem);
                color: $color-text;

                border: 0.1rem solid transparent;
                @include fz-14;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5; /* 21px */
                transition: all 0.3s ease;
                &:focus {
                    border-color: $color-pri;

                    // & ~ .contact-form-label {
                    //     opacity: 0;
                    // }
                }
            }
        }

        &-item {
            &:last-child {
                width: 100%;
            }

            &.phone {
                width: 35%;
            }

            &.sl {
                width: 65%;
            }
        }

        &-ck {
            display: flex;
            row-gap: 0.6rem;
            flex-direction: column;
            margin-bottom: 4rem;
            &-item {
                display: flex;
                align-items: start;
                column-gap: 1.5rem;

                color: $color-text;
                @include fz-14;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5; /* 21px */

                label {
                    display: block;
                    width: 1.6rem;
                    height: 1.6rem;
                    border-radius: 0.2rem;
                    border: 0.1rem solid $color-text;
                    position: relative;
                    background-color: transparent;
                    transition: all 0.3s ease;
                    margin-top: 0.2rem;
                    flex-shrink: 0;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url(../assets/images/check\ 1.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 80%;
                        height: 80%;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                }

                strong {
                    color: $color-pri;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.5;
                    text-decoration-line: underline;
                }

                input {
                    display: none;

                    &:checked {
                        & ~ label {
                            background-color: $color-pri;
                            border-color: $color-pri;

                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &-label {
            color: $color-text;
            @include fz-14;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            position: absolute;
            top: 50%;
            left: 2.5rem;
            transform: translate(0, -50%);
            display: block;
            transition: all 0s ease-out;
            pointer-events: none;

            strong {
                color: #ff0c0c;
            }
        }

        .btn {
            margin: auto;
        }

        &-lf {
            width: calc(8 * 100% / 12);

            @media screen and (max-width: 1400px) {
                width: 60%;
            }

            @media screen and (max-width: 1200px) {
                width: 100%;
            }

            &-wrap {
                padding: 8.5rem 8.1rem 5.5rem 8.1rem;
                border-radius: 2rem;
                background: linear-gradient(90deg, rgba(14, 140, 250, 0.2) 0%, rgba(0, 170, 251, 0.2) 77.19%);
                // backdrop-filter: blur(0rem);
                border: 0.2rem solid #8394a3;

                @media screen and (max-width: 1400px) {
                    padding: 8.5rem 6.1rem 5.5rem 6.1rem;
                }

                @media screen and (max-width: 1200px) {
                    padding: 8.5rem 4rem 5.5rem 4rem;
                }

                @media screen and (max-width: 600px) {
                    padding: 4rem 1rem 4rem 1rem;
                }
            }
        }

        &-rt {
            flex: 1;
            @media screen and (max-width: 1200px) {
                display: none;
            }
            &-box {
                margin-right: calc((100vw - 120rem) / -2);
                position: relative;
            }

            &-img {
                position: absolute;
                padding-top: calc(100% * 1400 / 977);
                width: 100%;
                height: 100%;
                overflow: hidden;
                top: 34rem;
                right: 0rem;
                transform: translate(0%, -50%) rotate(-32deg);
                z-index: -1;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-list {
            row-gap: 2.4rem;
            margin-bottom: 2rem;

            @media screen and (max-width: 600px) {
                row-gap: 1.4rem;
            }
        }

        &-item {
            @media screen and (max-width: 660px) {
                width: 100% !important;
            }
        }

        &-sl {
            position: relative;
            &-lb {
                cursor: pointer;
                border-radius: 1rem;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(2rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.4rem 2.4rem 1.3rem;
                
                
            }

            &-text {
                color: white;
               @include fz-14;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                white-space:nowrap;
                strong{
                    color: #FF0C0C;
                }
            }

            &-list{
                background: rgba(255, 255, 255, 0.2);
               
    backdrop-filter: blur(2rem);
                // display: flex;
                // flex-direction: column;
                // row-gap: 1rem;
              
                border-radius: 1rem;
                position: absolute;
                z-index: 1;
                width: 100%;
                top: calc(100% + 1rem);
                left: 0;
                display: none;
            }   

            &-ck{
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 0.2rem;
                border: 1px solid #FFF;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-image: url(../assets/images/check\ 1.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 80%;
                    height: 80%;
                    opacity: 0;
                    transition: all 0.3s ease;

                 }
            }

            &-item{
                cursor: pointer;
                padding: 0.8rem 2.4rem;
                user-select: none;
                input{
                    display: none;
                }
                position: relative;
                color: white;
                @include fz-14;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 1.5;
                 display: -webkit-box;
                 -webkit-line-clamp: 1;
                 -webkit-box-orient: vertical;  
                 overflow: hidden;
                 display: flex;
                 column-gap: 1rem;


               
            }
        }
    }
}

.box-success {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    background: linear-gradient(90deg, rgba(14, 140, 250, 0.3) 0%, rgba(0, 170, 251, 0.3) 77.19%);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    padding: 0 2vw;
    border: 0.1rem solid #afc0d5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1200px) {
        width: 25vw;
        height: 25vw;
    }

    @media screen and (max-width: 1000px) {
        width: 28vw;
        height: 28vw;
    }

    @media screen and (max-width: 800px) {
        width: 32vw;
        height: 32vw;
    }

    @media screen and (max-width: 600px) {
        width: 36vw;
        height: 36vw;
    }

    @media screen and (max-width: 460px) {
        width: 40vw;
        height: 40vw;
    }

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.actived {
        opacity: 1;
        visibility: visible;
    }

    &-content {
        color: $color-text;
        text-align: center;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        position: relative;

        @media screen and (max-width: 1200px) {
            font-size: 1.6vw;
        }

        @media screen and (max-width: 600px) {
            font-size: 2vw;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 0.1rem solid #545c6e;
        border-radius: 50%;
        z-index: -1;
        animation: lanToa 2s linear infinite forwards;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 0.1rem solid #545c6e;
        border-radius: 50%;

        animation: lanToa 2s linear infinite backwards;
        animation-delay: 1s;
    }
}

.modal-success {
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    &.actived {
        opacity: 1;
        visibility: visible;
    }
}

.box-success2 {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    background: linear-gradient(90deg, rgba(14, 140, 250, 0.3) 0%, rgba(0, 170, 251, 0.3) 77.19%);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    padding: 0 2vw;
    border: 0.1rem solid #afc0d5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1200px) {
        width: 25vw;
        height: 25vw;
    }

    @media screen and (max-width: 1000px) {
        width: 28vw;
        height: 28vw;
    }

    @media screen and (max-width: 800px) {
        width: 32vw;
        height: 32vw;
    }

    @media screen and (max-width: 600px) {
        width: 36vw;
        height: 36vw;
    }

    @media screen and (max-width: 460px) {
        width: 40vw;
        height: 40vw;
    }

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.actived {
        opacity: 1;
        visibility: visible;
    }

    &-content {
        color: $color-text;
        text-align: center;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        position: relative;

        @media screen and (max-width: 1200px) {
            font-size: 1.6vw;
        }

        @media screen and (max-width: 600px) {
            font-size: 2vw;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 0.1rem solid #545c6e;
        border-radius: 50%;
        z-index: -1;
        animation: lanToa 2s linear infinite forwards;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: 0.1rem solid #545c6e;
        border-radius: 50%;

        animation: lanToa 2s linear infinite backwards;
        animation-delay: 1s;
    }
}

.modal-success2 {
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    &.actived {
        opacity: 1;
        visibility: visible;
    }
}
