.banner-home {
    background-image: url(../assets/images/bannerHome.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 50vw;
    // height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-wrap {
        align-items: center;
    }

    &-lf {
        display: flex;
        justify-content: center;

        .btn-play {
            left: -10% !important;
            top: 75% !important;
            width: 7vw;
            height: 7vw;
            transform: none;
        }

        .btn-play-box {
            width: 2.5vw;
            height: 2.5vw;
        }

        .scrolld-btn-inner {
            font-size: 0.8vw;
        }
    }

    &-img {
        width: 22vw;
        position: relative;
        padding-bottom: 2vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        animation: rungLac 5s linear infinite forwards;
        @keyframes rungLac {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translate(5%, 5%) rotate(3deg);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

    &-rt {
        &-title {
            color: $color-text;
            font-size: 3.2vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 1vw;
        }

        &-text {
            color: $color-text;
            font-size: 1.2vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 2.5vw;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 7vw;
        }

        &-bottom {
            display: flex;
            align-items: center;
            column-gap: 3rem;

            &-text {
                color: #fff;
               font-size: 0.8vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                position: relative;
                

                &::before{
                    content: "|";
                    margin-left: 0.5vw;
                }
            }

            &-list {
                display: flex;
                align-items: center;
                column-gap: 1vw;
            }

            &-link{
                width: 1.2vw;
                height: 1.2vw;
                display: block;
                

                @include hover{
                    img{
                        filter: brightness(0) saturate(100%) invert(51%) sepia(27%) saturate(6295%) hue-rotate(170deg) brightness(107%) contrast(101%);
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                }


            }
        }
    }
}
