.banner-home {
    background-image: url(../assets/images/bannerHome.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 50vw;
    // height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-wrap {
        align-items: center;
    }

    &-lf {
        display: flex;
        justify-content: center;
       

        .btn-play {
            left: -10% !important;
            top: 75% !important;
            width: 7vw;
            height: 7vw;
            transform: none;
        }

        .btn-play-box{
            width: 2.5vw;
            height: 2.5vw;
        }

        .scrolld-btn-inner{
            font-size: 0.8vw;
        }
    }

    &-img {
        width: 22vw;
        position: relative;
        padding-bottom: 2vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        animation: rungLac 5s linear infinite forwards;
        @keyframes rungLac {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translate(5%, 5%) rotate(3deg);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

    &-rt {
        &-title {
            color: $color-text;
          font-size: 3.2vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3; 
            margin-bottom: 1vw;
        }

        &-text{
            color: $color-text;
           font-style: 1vw;
              font-style: normal;
              font-weight: 400;
              line-height: 1.5; 
              margin-bottom: 2.5vw;
        }
    }
}
