.box-guard {
    margin: 5rem 2.5rem;
    border-radius: 8rem;
    background: linear-gradient(
        90deg,
        rgba(8, 87, 193, 0.8) 0%,
        rgba(15, 136, 250, 0.8) 100%,
        rgba(96, 176, 252, 0.8) 100%
    );
    backdrop-filter: blur(2rem);

    &-wrap {
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 98.6rem;
        margin: auto;
    }

    &-title {
        color: $color-text;
        @include fz-64;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3; /* 83.2px */
        text-align: center;
        margin-bottom: 2rem;
    }

    &-text {
        @include fz-40;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
    }
}
