.box-guard {
    margin: 5rem 2.5rem;
    border-radius: 8rem;
    background: linear-gradient(
        90deg,
        rgba(8, 87, 193, 0.8) 0%,
        rgba(15, 136, 250, 0.8) 100%,
        rgba(96, 176, 252, 0.8) 100%
    );
    backdrop-filter: blur(2rem);
    border: 0.1rem solid #afc0d5;

    &-wrap {
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 98.6rem;
        margin: auto;
    }

    &-title {
        color: $color-text;
        @include fz-64;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3; /* 83.2px */
        text-align: center;
        margin-bottom: 2rem;
    }

    &-note {
        @include fz-40;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
        -webkit-text-stroke-width: 0.1rem !important;
        -webkit-text-stroke-color: white !important;
        color: transparent;
        margin-bottom: 4rem;
    }

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-note {
            color: $color-text;
            @include fz-32;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
        }

        &-title {
            color: $color-text;
            @include fz-64;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
        }

        &-text {
            color: $color-text;
            @include fz-24;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
        }
    }
}

.box-usually {
    &-phay {
        width: 14rem;
        height: 14rem;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-title {
        color: $color-text;
        text-align: center;
        @include fz-40;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3; /* 52px */
    }

    &-wrap {
        display: flex;
        align-items: center;
        max-width: 85rem;
        margin: 8rem auto;
    }
}

.box-around {
    padding-top: 15rem;
    padding-bottom: 15rem;

    &-title {
        color: $color-text;
        text-align: center;
        @include fz-64;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;
        max-width: 40rem;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &-list-mb {
        width: 100%;
        display: flex;
        column-gap: 1.4rem;
        display: none;
        margin-top: 8rem;
        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
        }

        .swiper-slide{
            height: auto;
        }
    }

    &-item-mb {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2rem);
        border-radius:1.6rem;
        padding: 4rem 1rem;
        height: 100%;
        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
            position: relative;
        }

        &-ic {
            width: 4.2rem;
            height: 4.2rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            color: $color-text;
            text-align: center;
            @include fz-30;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
        }
    }

    &-list {
        width: 100%;
        display: flex;
        column-gap: 1.4rem;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &-item {
        max-width: 33rem;
        position: absolute;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3rem;
            position: relative;
        }

        &:first-child {
            top: 50%;
            left: 11%;
            transform: translate(-50%, -50%);

            .box-around-item-line {
                width: 21rem;
                transform: translate(-50%, -50%);
                top: 40%;
                left: 81%;
            }

            @media screen and (max-width: 1300px) {
                left: 13%;
            }
        }

        &:nth-child(2) {
            top: 10%;
            right: 11%;
            transform: translate(50%, -50%);

            .box-around-item-line {
                width: 27rem;
                transform: translate(-50%, -50%);
                top: 60%;
                right: 6.5%;
            }
            @media screen and (max-width: 1300px) {
                right: 15%;
            }
        }

        &:last-child {
            top: 80%;
            right: 17%;
            transform: translate(50%, -50%);

            .box-around-item-line {
                width: 22rem;
                transform: translate(-50%, -50%);
                top: 60%;
                right: 1.5%;
            }
        }

        &-line {
            position: absolute;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-ic {
            width: 4.2rem;
            height: 5.5rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            color: $color-text;
            text-align: center;
            @include fz-40;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
        }
    }

    .title-main {
        margin-bottom: 5rem;
    }

    &-content {
        position: relative;
        .earth {
            width: 54rem;
            height: 54rem;
            margin: auto;

            @media screen and (max-width:600px) {
                width: 40rem;
                height: 40rem;
            }

            @media screen and (max-width:460px) {
                width: 30rem;
                height: 30rem;
            }
        }
    }
}

.box-guard-sl {
    padding: 5rem 0;
    padding-left: 1.2rem;
    .swiper-slide {
        width: 46%;
    }

    .our-partners-item-lf-img {
        // top: 90%;
        // bottom: -15%;
        // transform: translateY(50%);
        // margin-bottom: -10rem;
        // bottom: -5rem;
    }

    .navi-box {
        width: fit-content;
        margin: 4rem auto 0;
    }
}
