<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>
    <header class="header">
        <div class="container large">
            <div class="header-wrap flex flex-ai-center flex-jc-between">
                <div class="header-btn">
                    <div class="toggle toggle-header">
                        <div class="toggle-inner">
                            <span class="toggle-item">
                                <img src="./assets/images/menu-hd.svg" alt="">
                            </span>
                            <span class="toggle-item">
                                <img src="./assets/images/close-hd.svg" alt="">
                            </span>
                        </div>
                    </div>
                    <span class="toggle-text">Danh mục</span>
                </div>
                <div class="header-menu">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="home.html"> Trang chủ </a>
                            </li>
                            <li class="menu-item">
                                <a href="">Giới thiệu</a>
                            </li>
                            <li class="menu-item dropdown current-menu-item">
                                <a href="">Sản phẩm</a>

                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="">
                                            Submenu 1
                                            <i class="fas fa-angle-down"></i></a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="">
                                            Submenu 2
                                            <i class="fas fa-angle-down"></i></a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Submenu 2 1
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Submenu 2 2
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-logo">
                    <a href="home.html">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>
                </div>
                <div class="header-lang">
                    <div class="lang pos-relative">
                        <div class="lang-selected flex flex-ai-center">
                            <img src="./assets/images/vn-icon.svg" alt="">
                            <span class="text">VIE</span>
                            <span class="icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="lang-lst pos-abs">
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-search">
                    <span class="icon">
                        <img src="./assets/images/search.svg" alt="">
                    </span>

                    <div class="form-search">
                        <form action="#">
                            <div class="form-wrap flex">
                                <input class="btn-search" type="submit" value="">
                                <input type="text" class="input" placeholder="Bạn đang tìm gì?">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-user">
                    <div class="icon">
                        <img src="./assets/images/user-icon.svg" alt="">
                    </div>

                    <div class="header-modal">
                        <div class="header-modal-wrap">
                            <div class="header-modal-box">
                                <span class="avt">
                                    <img src="./assets/images/avt.png" alt="">
                                </span>
                                <span class="name">Trần Đạt</span>
                            </div>

                            <ul class="header-modal-list">
                                <li class="header-modal-item">
                                    <a href="" class="header-modal-link">Thông tin tài khoản</a>
                                </li>
                                <li class="header-modal-item">
                                    <a href="" class="header-modal-link">Đơn hàng của tôi</a>
                                </li>
                            </ul>

                            <div class="header-modal-bottom">
                                <a href="" class="header-modal-link">Đăng xuất</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="header-cart">
                    <a href="" class="btn icon-right">
                        <span class="btn-inner">
                            <span class="text">Giỏ hàng</span>

                            <span class="icon">
                                <img src="./assets/images/cart-icon.svg" alt="">
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="header-ct">
        <div class="header-menu-desk">
            <div class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="">Tất cả sản phẩm</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Đảo hải tặc</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Anime</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pakugan</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pokemon</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-nav flex flex-jc-between flex-ai-center">
                <div class="header-lang">
                    <div class="lang pos-relative">
                        <div class="lang-selected flex flex-ai-center">
                            <img src="./assets/images/vn-icon.svg" alt="">
                            <span class="text">VIE</span>
                            <span class="icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="lang-lst pos-abs">
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-nav">
                    <ul class="menu-list">

                        <li class="menu-item">
                            <a href="home.html"> Trang chủ </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="">Giới thiệu</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Tất cả sản phẩm</a>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Đảo hải tặc</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Anime</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pakugan</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pokemon</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="contact">
                    <ul class="contact-lst">
                        <li class="contact-item">
                            <span class="contact-text">
                                <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                <span class="tit">Địa chỉ:</span>
                                <span class="text">Tổ 5 ấp Suối Mây, xã Dương Tơ, TP. Phú Quốc, Kiên Giang
                                </span>
                            </span>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0983.533.005</span>
                            </a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0338.831.219 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sc-hd">
                <ul class="sc-hd-list">
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/fb.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/insta.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/youtube.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/tt.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="bg-fade hd-bg"></div>

    <div class="breadcrumbs other">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item">
                    <a href="#">Trang chủ</a>
                </li>

                <li class="breadcrumbs-item current">
                    <a href="#">Thông tin tài khoản</a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main">
        <div class="content-con">
            <div class="container">
                <div class="content row">
                    <div class=" col l-5">
                        <div class="item"></div>
                    </div>
                    <div class="col l-5">
                        <div class="item"></div>
                    </div>
                </div>
            </div>

        </div>
    </main>






    <div class="contact-component">
        <div class="container">
            <div class="contact-component-con d-wrap">
                <div class="contact-component-con-left d-2 d-item">
                    <div class="content">
                        <div class="title">
                            <p class="title-text">
                                Liên hệ chúng tôi
                            </p>
                        </div>
                        <div class="input-box">
                            <input value="Trần Quốc Cương" type="text" class="form-control" placeholder="Họ và tên">
                        </div>
                        <div class="input-box">
                            <input value="" type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                        <div class="input-box">
                            <input value="" type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-box">
                            <textarea class="form-control" value="" type="text" rows="4"
                                placeholder="Nội dung"></textarea>
                        </div>
                        <a href="" class="contact-btn btn hover-2">
                            <span class="btn-inner">
                                Gửi tin
                            </span>
                        </a>

                    </div>
                </div>

                <div class="contact-component-con-right d-2 d-item">
                    <div class="content">
                        <div class="title">
                            <p class="title-text">
                                Thông tin liên hệ
                            </p>
                        </div>
                        <ul class="list-contact">
                            <li class="list-item">
                                <a href="" class="link-item">
                                    <span class="img-icon">
                                        <img src="./assets/images/phone.svg" alt="">
                                    </span>
                                    <span class="content">

                                        0392734903

                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="" class="link-item">
                                    <span class="img-icon">
                                        <img src="./assets/images/location.svg" alt="">
                                    </span>
                                    <span class="content">

                                        C09 An Phú Newcity, Nguyễn Hoàng, An Phú, TP Thủ Đức

                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a class="link-item" href="">
                                    <span class="img-icon">
                                        <img src="./assets/images/mail.svg" alt="">
                                    </span>
                                    <span class="content">

                                        support@schainofficial.com

                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="img-contact">
                            <img src="./assets/images/vimgContact.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="links-main">
        <ul class="links-main-list">
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vzalo.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vMess.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vtiktok.svg" alt="">
                </a>
            </li>
            <li class="links-main-item scroll-to-top">
                <div class="link-items">
                    <span class="items-top" href="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                    </span>



                </div>

            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-sign flex flex-wrap flex-jc-between">
                <h3 class="footer-title">Đăng ký nhận tin</h3>

                <div class="footer-form mb-16">
                    <form action="">
                        <input type="text" placeholder="Email" class="footer-input">

                        <button class="footer-btn btn">
                            <span class="btn-inner">
                                Đăng ký
                            </span>
                        </button>

                    </form>
                </div>
            </div>
            <div class="footer-wrap d-wrap">
                <div class="footer-logo d-item">
                    <div class="footer-logo-wrap">
                        <a href="" class="logo">
                            <img src="./assets/images/logo.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-content d-item">


                    <div class="footer-box">
                        <div class="footer-box-list d-wrap">
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Thông tin liên hệ</h3>

                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/telephone-icon.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    0392734903
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/location-pin.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    C09 An Phú Newcity, Nguyễn Hoàng,
                                                    An Phú, TP Thủ Đức
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/email-icon.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    support@schainofficial.com 
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Về Schain - Official</h3>
                                <ul class="menu flex-wrap">
                                    <li class="menu-item">
                                        <a href="">
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Sản phẩm
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Hỗ trợ khách hàng</h3>

                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="text">
                                                    Giao hàng nhanh
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="text">
                                                    Sản phẫm lỗi
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="text">
                                                    Chính sách đổi/trả
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom flex flex-wrap flex-jc-between">
                <div class="footer-copyright">
                    <p class="text text-center">
                        Thiết kế và lập trình bởi

                        <span class="img">
                            <img src="./assets/images/monamedia-copyright.svg" alt="">
                        </span>
                    </p>
                </div>

                <div class="footer-sc">
                    <ul class="sc-list">
                        <li class="sc-item">
                            <a href="" class="sc-link">
                                <img src="./assets/images/facebook.svg" alt="" d9kyg4zyr="">
                            </a>
                        </li>
                        <li class="sc-item">
                            <a href="" class="sc-link">
                                <img src="./assets/images/tik-tok.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>