@import url("../assets/font/Poppins/stylesheet.css");
@import url("../js/library/jquery-ui/jquery-ui.min.css");

$pdGen: 1.2rem;
$pdGen2: 2.4rem;
$pd3: 3rem;
$Hmenu: 8rem;

@include max(1201px) {
}

@include max(800px) {
  $pdGen: 0.6rem;
  $pdGen2: 1.2rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  // scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

  //   @include min(2000px) {
  //     font-size: 100%;
  // }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  color: $color-text;
  
  &.contact{
    background-image: url(../assets/images/bgcontact.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.career{
    background-image: url(../assets/images/bgcareer.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.solution-3{
    background-image: url(../assets/images/bgSolution3.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.solution-3{
    background-image: url(../assets/images/bgSolution2.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.actived{
    overflow: hidden !important;
  }

  @include min(2000px) {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
  @include transition(0.3s);

  @include min(1200px) {
    &:hover {
      color: rgba($color: $color-pri, $alpha: 1);
    }
  }
}

button,
select,
input,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
 
  color: black;
  background: transparent;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

.main {
  overflow: hidden;
  &.pt{
    padding-top: 12rem;

    @media screen and (max-width:1200px) {
      padding-top: 8rem;
    }
  }


 
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: white !important;
  color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.container {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include max(800px) {
    padding: 0 0.8rem;
  }
}

.over {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

.effectShine {
  position: relative;
  overflow: hidden;
}

.effectShine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.wow {
  animation-duration: 1s;
}

.load-item {
  display: none;
}

.show-hide-toggle {
  cursor: pointer;
}
