$color-pri: #00AFFA;
$color-second: #fff;
$color-third: #ff3c79;
$color-four: #e12a28;
$color-five: #88898a;
$color-six: #a50a10; 
$color-black: #000000;
$color-black-1: #1d1d1e;
$color-gray-2-10: rgba(36, 25, 25, 0.1);
$color-text: #fff;
$color-text2: #444444;
$color-black-2: #0f0e0f;
$color-black-3: #4a4a4a;


//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 120px;
$distance-header-mobile: 72px;
$distance-header-sticky: 60px;
$distance-header-mobile-sticky: 56px;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 6px;
