.footer {
  position: relative;
  padding-top: 28rem;
  padding-bottom: 5.5rem;

  &-lf {
    display: flex;
    justify-content: flex-start;

    border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
    &-content {
      max-width: 52rem;
    }
  }

  &-rt {
    display: flex;
    justify-content: flex-end;
    &-content {
      max-width: 46rem;
    }

    &-top {
      padding-bottom: 5rem;
      border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
      margin-bottom: 5rem;
    }

    &-bottom {
      .footer-title {
        margin-bottom: 2.4rem;
      }
      justify-content: space-between;

      &-lf {
        width: calc(2 * 100% / 5);
      }

      &-rt {
        flex: 1;
        width: 100%;
      }
    }
  }

  &-menu {
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 3rem;
      row-gap: 1.2rem;

      .menu-item {
        flex: 1;

        &.actived {
          .menu-link{
            color: $color-pri;
          }
        }
      }

      .menu-link {
        color: #fff;
        text-align: start;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        @include fz-14;

        @include hover {
          color: $color-pri;
        }
      }
    }
  }

&-info{
  &-list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
}

  &-title {
    color: $color-text;
    @include fz-24;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 36px */
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-note {
    color: $color-text;
    @include fz-14;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 5rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(359deg, rgba(20, 20, 33, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: normal, lighten;
  }

  &-logo {
    max-width: 51.4rem;
    display: block;
    margin-bottom: 6rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-wrap {
    position: relative;
    z-index: 5;
  }

  &-social {
    &-title {
      color: #fff;
      @include fz-24;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5;
      text-transform: uppercase;
      margin-bottom: 2.4rem;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 3rem;
    }

    &-item {
      flex-shrink: 0;
    }

    &-link {
      width: 5.4rem;
      height: 5.4rem;
      border: 0.1rem solid $color-text;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include hover {
        img {
          filter: brightness(0) saturate(100%) invert(50%) sepia(75%) saturate(2792%) hue-rotate(170deg)
            brightness(104%) contrast(103%);
        }
      }

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
