.select2-container {
    height: 5rem;
    background-color: transparent;

}

.select2.select2-container {
    width: 100% !important;
    // margin-right: 1rem;
}

.selection {
    width: 100%;
    height: 100%;
    display: block;
}

.select2-container--default .select2-selection--single {
    border: none;
    // border-radius: 0 !important;
    color: white;
    height: 5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(0rem);
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    // border-radius: 0 !important;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    background-color: transparent;
    color: $color-text;
    @include fz-14;
    font-weight: 400;
    display: inline !important;
    @include lc(1);
    width: 100%;
    padding: 0 1.9rem;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    border-radius: 0;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: none;
    border-bottom: none !important;
    padding: 10px 6px !important;
    background-color: $color-black;
    color: $color-black;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #f8f8f8;
    color: $color-black;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: $color-pri;
    font-size: 1.6rem;
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 400;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    border-color: #000 transparent transparent transparent;
    // top: 1.7rem !important;
    right: 1.8rem;
    
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    background-image: url(../assets/images/down\ \(1\)\ 1.svg);
    width: 100%;
    height: 100%;
    top: 30%;
    background-repeat: no-repeat;

}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;

}

.select2-search.select2-search--dropdown {
    display: none !important;
}

.select2-results__option {
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

.select2-results {
    display: block;
    border-radius: 0 !important;
    overflow: hidden;
}

.re-select-wrap.white {
    .select2-selection__rendered {
        color: #A5A5A5 !important;
    }
}

.select2-results__options {
    
}


body:has(.seclect2-seach-show) {
    .select2-search.select2-search--dropdown {
        display: block !important;
        background: #FFFFFF;
        padding: 1.2rem 2.4rem 0.4rem;
    }

    .select2-container .select2-dropdown .select2-search input {
        background-color: rgba($color: #D9D9D9, $alpha: 0.2);
    }

    .select2-dropdown {
        box-shadow: 0rem 0.4rem 4rem rgba(0, 0, 0, 0.1);
        margin-top: 2.2rem;
    }
    .select2-results__option {
        padding: 0.8rem 2.4rem;
        font-size: 1.2rem;
    }
    .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
        font-size: 1.2rem;
        line-height: 1.7;
        color: white;
    }
}