.basic-bg{
    z-index: -1;
}

.about-mile-bottom-list:before {
    display: none;
}

.menu-mb-list{
    max-height: 80%;
}

.advanced .btn-play{
    width: 10rem;
    height: 10rem;


  
}

@media screen and (max-width:800px){
    .advanced .btn-play{
        width: 8rem;
        height: 8rem;
    }
   
}

.solution-title-rt-content .title-main{
    margin-bottom: 0;
}

.contact-form-sl-list{
    -webkit-backdrop-filter: blur(2rem);
}


.features-wrap-img{
    position: relative;

    &::before{
        
    }
}

.features-wrap-img::before{
    content: "";
    bottom: 34%;
    left: 50%;
    transform:translate(-50%,60%) scaleY(0);
    position: absolute;
    width: 30%;
    height: 10rem;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../assets/images/hoverFt.png);
    transition: all 0.5s linear;
    opacity: 0;
}

@media screen and (max-width:1200px) {
     .features-wrap-img::before{
        bottom: 33%;

        height: 8vw;
        opacity: 1;
        transform:translate(-50%,0%) scaleY(1);
    }

    .features-box{
        padding: 6rem;
    }

    .features-box-title {
        font-size: 3.6rem;
    }

    .home-new .title-main{
        margin-bottom: 4rem;
    }
}

@media screen and (max-width:800px) {
     .features-wrap-img::before{
        bottom: 20%;
        height: 15vw;
        opacity: 1;
        transform:translate(-50%,0%) scaleY(1);
    }

    .features-box{
        padding: 4rem;
    }

    .features-box-title {
        font-size: 3.2rem;
    }

    .features-box-text strong{
        font-size: 2rem;
    }

    .statistic-main.hiddenNumber{
        padding-bottom: 2rem;
    }
}

@media screen and (min-width:1200px) {
    .features-wrap-item:hover .features-wrap-img::before{
        height: 10rem;
        opacity: 1;
        transform:translate(-50%,0%) scaleY(1);
    }

    

}


@media screen and (max-width:600px) {
    .about-mile-bottom-list::before {
        top: 45%;
        height: 80%;
    }
    .features-box{
        padding: 2rem;
    }

    .features-box-title {
        font-size: 3rem;
    }

    .features-box-text strong{
        font-size: 2rem;
    }
}

@media screen and (min-width: 800px) {
    
}

@media screen and (max-width:460px) {
    .features-box-title {
        font-size: 2rem;
    }

    .features-box-text{
        font-size: 1.6rem;
    }

    .features-box-text strong{
        font-size: 1.8rem;
    }

    .features-wrap-img::before{
        bottom: 20%;
        height: 15vw;
        opacity: 1;
        transform:translate(-50%,0%) scaleY(1);
    }
}



.box-canvas-item:after,
.box-canvas-item::before {
    will-change: auto;
}