.tooltipCss {
    width: 100vw;
    max-width: 38.8rem;
    transform: translateY(-100%);
    background: $color-pri;
    color: white;
    border-radius: 2rem;
    padding: 1.8rem 2.4rem;
    z-index: 100;

}